// Components
// Variables
//


// Accordions
@mixin accordion_variant($color: $type-color, $trigger: rgba(0,0,0,0.05), $background: transparent) {

  > .__item > .__title {
    background: $trigger;

    &:after { color: rgba($color, 0.5); }

    &.collapsed {
      &:after { color: $color; }
    }
  }

  .__copy {
    color: $color;
    background: $background;
  }
}

// Buttons
@mixin button_size($padding-t, $padding-x, $padding-b, $font-size) {
  padding: $padding-t $padding-x $padding-b;
  font-size: $font-size;
}

// List Groups
@mixin list_group_variant($color: inherit, $background: transparent, $striped: rgba(255, 255, 255, 0.1)) {
  background: $background;

  > .__item,
  > li,
  > div { border-color: rgba($color, 0.25); }

  &.\--striped .__item,
  &.\--striped > li {
    border: 0 none;

    &:nth-child(odd) { background-color: $striped; }
  }

  &.\+outline { border: 1px solid rgba($color, 0.25); }

  &.\+indent:not(.\--striped):not(.\+outline):not(.\+shadow) {
    > .__item,
    > li {
      &:hover { background-color: rgba($color, 0.05); }
    }
  }
}

// Masthead
@mixin make-masthead($container: "default", $gutters: $grid-gutter-widths, $contain: $contain-width) {
  @each $breakpoint in map-keys($gutters) {
    @include mqbp-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      @if ($container == "full") {
        @if ($breakpoint == "md" or $breakpoint == "lg" or $breakpoint == "xl" or $breakpoint == "xx") {
          .__logo { margin-left: $gutter; }

          .__drawer,
          .__toggler,
          .\--utility { margin-right: $gutter; }
        }
      } @elseif ($container == "contain") {
        @if ($breakpoint == "md") {
          .__logo { margin-left: $contain; }

          .__drawer,
          .__toggler,
          .\--utility { margin-right: $contain; }
        }
      } @else {
        @if ($breakpoint == "md" or $breakpoint == "lg" or $breakpoint == "xl" or $breakpoint == "xx") {
          .__logo { margin-left: ($gutter * 2); }

          .__drawer,
          .__toggler,
          .\--utility { margin-right: ($gutter * 2); }
        } @else {
          .__logo { margin-left: $gutter; }

          .__drawer,
          .__toggler,
          .\--utility { margin-right: $gutter; }
        }
      }
    }
  }
}

// Mega menu
// give megamenu same spacing as masthead;
// same as make-row, but with padding and full gutter width
@mixin make-megamenu($container: "default", $gutters: $grid-gutter-widths, $contain: $contain-width) {
  @each $breakpoint in map-keys($gutters) {
    @include mqbp-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      @if ($container == "full") {
        @if ($breakpoint == "md" or $breakpoint == "lg" or $breakpoint == "xl" or $breakpoint == "xx") {
          padding-right: $gutter !important;
          padding-left:  $gutter !important;
        }
      } @elseif ($container == "contain") {
        @if ($breakpoint == "md") {
          padding-right: $contain !important;
          padding-left: $contain !important;
        }
      } @else {
        @if ($breakpoint == "md" or $breakpoint == "lg" or $breakpoint == "xl" or $breakpoint == "xx") {
          padding-right: $gutter * 2 !important;
          padding-left:  $gutter * 2 !important;
        } @else {
          padding-right: $gutter;
          padding-left:  $gutter;
        }
      }
    }
  }
}
