// Components
// Variables
//


// Buttons
$btn-type:          15px !default;
$btn-sm-type:       11px !default;
$btn-padding-t:     0.7rem !default;
$btn-padding-x:     1.5rem !default;
$btn-padding-b:     0.65rem !default;
$btn-sm-padding-t:  0.45rem !default;
$btn-sm-padding-x:  0.75rem !default;
$btn-sm-padding-b:  0.4rem !default;
