// Components
// Variables
//


// Buttons
$btn-type:          $fs-root !default;
$btn-sm-type:       $fs-xs !default;
$btn-padding-t:     0.7rem !default;
$btn-padding-x:     1.5rem !default;
$btn-padding-b:     0.7rem !default;
$btn-sm-padding-t:  0.4rem !default;
$btn-sm-padding-x:  0.75rem !default;
$btn-sm-padding-b:  0.4rem !default;
