// Components
// Accordion


.accordion {
  @include accordion_variant();

  border: 1px solid rgba($black, 0.2);

  &_item {
    padding-top: 0;
    margin-bottom: 0;
    border-top: 1px solid rgba($black, 0.2);

    &:first-child { border-top: 0 none; }
  }

  &_header {
    padding: 1rem 3rem 1rem 0.75rem;
    width: 100%;
    position: relative;
    display: block;
    text-align: left;
    color: inherit;
    border: 0 none;
    cursor: pointer;

    &:after {
      content: "\e970"; // plus icon
      font-family: "feathericons";
      font-weight: normal;
      position: absolute;
      top: 1rem;
      right: 1.5rem;
    }

    &:active { outline: none; }

    &.\-active,
    &.fs-swap-active {
      &:after { content: "\e95c"; } // minus icon
    }
  }

  &_body {
    display: none;
    position: relative;

    &.fs-swap-active {
      display: block;
    }
  }

  &_copy {
    padding: 1rem 3rem 1rem 0.75rem;
    font-size: $fs-sm;
    background: #fff;
  }
}

/*
  // --
  // Modifiers

  &.\-white {
    @include accordion_variant($type-color, #fff, #fff);

    > .accordion_item > .accordion_title {
      font-weight: 700;
      color: $type-color;
      transition: color $transition;

      &.\-active {
        color: rgba($type-color, 0.5);
      }
    }

    .accordion_copy { padding-top: 0; }
  }

  &.\-dark {
    @include accordion_variant(#fff, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25));

    border: 1px solid rgba($white, 0.2);

    .accordion_item {
      border-top: 1px solid rgba($white, 0.2);

      &:first-child { border-top: 0 none; }

      > .__title { color: $white; }
    }
  }

  &.\-spaced {
    border: 0 none;

    > .accordion_item {
      border: 1px solid rgba($black, 0.2);
      margin-bottom: 1rem;
    }
  }

  .\-visible + .accordion_content {
    display: block;
  }
}

// card contained within an accordion
.accordion .card {
  &:first-child .accordion_title { border-top: 0 none; }
}
*/
