//
// Accordions
//


.accordion {
  @include accordion_variant();
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

  &.\--white {
    @include accordion_variant($type-color, #fff, #fff);
    .\__title { font-weight: 700; }
    .\__copy { padding-top: 0; }
  }

  &.\--dark {
    @include accordion_variant(#fff, $type-color, lighten($type-color, 20%));
  }

  .\__title {
    padding: 1rem 3rem 1rem 0.75rem;
    margin-top: 1px;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      font-family: "feathericons";
      content: "\e95c";
      font-weight: normal;
      top: 1rem;
      right: 1.5rem;
    }

    &.collapsed { &:after { content: "\e970"; } }
  }

  .\__copy {
    padding: 1rem 3rem 1rem 0.75rem;
    font-size: $fs-sm;
    background: #fff;
  }
}

.collapse {
  display: none;
  position: relative;
  &.show {
    display: block;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height;
}

.collapsed .\__title {
  border-top: 0 none;
}

.accordion .card {
  &:first-child .\__title {
    border-top: 0 none;
  }
}
