// Components
// Accordion


.accordion {
  border: 1px solid $gray-200;
  margin-top: -1px;

  &_link {
    color: inherit;
    display: block;
    padding: ($gutter / 2) 3rem ($gutter / 2) ($gutter / 2); // padding right for toggle icon
    position: relative;
    text-align: left;
    width: 100%;

    &:after {
      content: "\e970"; // 'plus' icon
      font-family: "feathericons";
      font-weight: normal;
      position: absolute;
      right: 1.5rem;
      top: $gutter / 2;
    }

    &[aria-selected="true"] {
      &:after { content: "\e95c"; } // 'minus' icon
    }
  }

  &_body {
    padding: 0 ($gutter / 2);
  }
}
