//
// Badges
//

.badge {
  position: absolute;
  padding: 0.4rem 0.6rem 0.45rem;
  display: inline-block;
  font-size: .75rem;
  line-height: 1;
  text-align: center;
  border-radius: 1px;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include badge_variant($type-color, rgba(255, 255, 255, 0.75), transparent);
  @include font_smoothing();

  a {
    color: inherit;
    &:hover { text-decoration: none; }
  }

  &:before { margin-right: .25rem }

  //
  // Colors
  &.\--dark { @include badge_variant(#fff, rgba(0, 0, 0, 0.6), transparent); }
  &.\--transparent { @include badge_variant(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2), transparent); }

  //
  // Outline
  &.\--outline { @extend %component-outline; }

  //
  // Positioning
  &.\--left {
    position: absolute;
    top: 0;
    left: 0;

    &.\--pill { left: 0.75rem; }
  }

  &.\--center {
    top: 0;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &.\--right {
    top: 0;
    right: 0;
    left: auto;

    &.\--pill { right: 0.75rem; }
  }

  &.\--pill {
    @extend %pill;
    top: 0.75rem;
  }
}
