// Components
// Badge
//
// .badge


.badge {
  @extend .fs--smooth;
  background-color: #fff;
  padding: 0.4rem 0.6rem 0.45rem;
  display: inline-block;
  font-size: $fs-xs;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;

  a {
    color: inherit;
    &:hover { text-decoration: none; }
  }

  .feather {
    margin: 0 ($fs-xs/2) 0 0;
    height: $fs-xs;
    width: $fs-xs;
    position: relative;
    top: 2px;
  }

  &.\--right .feather { margin: 0 0 0 ($fs-xs/2); }

  // Color extensions
  &.bc--white { background-color: transparent; }
}
