//
// Badges
//

.badge {
  padding: 0.4rem 0.6rem 0.45rem;
  display: inline-block;
  font-size: .75rem;
  line-height: 1;
  text-align: center;
  border-radius: 1px;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle; // req for inline use
  white-space: nowrap;
  z-index: 1;
  color: $type-color;
  background-color: rgba($white, 0.75);
  @include font_smoothing();

  a {
    color: inherit;
    &:hover { text-decoration: none; }
  }

  &:before { margin-right: .25rem }

  
  //
  // Positioning
  &.\--left {
    position: absolute;
    top: 0;
    left: 0;

    &.\--pill { left: 0.75rem; }
  }

  &.\--center {
    position: absolute;
    top: 0;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &.\--right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;

    &.\--pill { right: 0.75rem; }
  }

  &.\--pill {
    @extend %pill;
    top: 0.75rem;
  }
}
