//
// Breadcrumbs
//

.breadcrumb {
  margin-bottom: 1rem;

  a {
    padding-right: 1rem;
    position: relative;
    color: inherit;

    &:after {
      content: "\/";
      color: $gray-400;
      position: absolute;
      top: 2px;
      right: 5px;
      line-height: 1;
    }
  }

  .\--active {
    color: lighten($type-color, 15%);
    cursor: default;
  }

  &.\+dot {
    a:after { content: "\00b7"; }
  }

  &.\+icon {
    a:after {
      font-family: "feathericons";
      top: 4px;
    }

    &.\+chevron {
      a:after {
        content: "\e922";
        right: 0px;
      }
    }

    &.\+arrow {
      a {
        padding-right: 1.5rem;

        &:after { content: "\e90d"; }
      }
    }
  }

  &.\--sm {
    @include type-xs();

    &.\+icon {
      a:after {
        top: 3px;
      }
    }
  }

  a:last-child:after { display: none; }
}
