//
// Buttons
//

.btn {
  @include button_size($btn-padding-t, $btn-padding-y, $btn-padding-b, $btn-type-base, $btn-border-radius);
  @extend %button;
  background-color: #fff;
  color: $type-color;
  border-color: rgba($type-color, 0.5);
  margin-bottom: 3px; // for when (if) multiple inline buttons wrap
  @extend %font_smoothing;
  @include transition();

  &:disabled {
    cursor: $cursor-disabled;
    opacity: 0.65;
  }

  &:hover {
    color: darken($type-color, 5%);
    background-color: $gray-100;
  }

  //
  // Full width button
  &.\--block {
    @extend %block; 
    white-space: initial;
  }

  //
  // Shapes
  &.\--pill { border-radius: 1000px; }

  .__icon {
    @extend %icon;

    svg { position: absolute; }
  }

  //
  // Sizing
  &.\--xs { @include button_size($btn-padding-t/2, $btn-padding-y/2, $btn-padding-b/2, $btn-type-xs, $btn-border-radius); }
  &.\--sm { @include button_size($btn-padding-t/1.125, $btn-padding-y/1.5, $btn-padding-b/1.125, $btn-type-sm, $btn-border-radius); }
  &.\--lg { @include button_size($btn-padding-t*1.5, $btn-padding-y*1.5, $btn-padding-b*1.5, $btn-type-lg, $btn-border-radius); }

  //
  // Stacked icon
  &[class^='flex--col'],
  &[class*=' flex--col'] {
    text-align: center;

    .__icon {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//
// Button Group
.btn__group {
  display: inline-block;
  overflow: hidden;
  @include border_radius(2px);
  @extend %clearfix;

  .btn {
    border-radius: 0;
    float: left;
    margin-right: -1px;

    &:last-child { margin-right: 0; }
  }
}
