// Components
// Card


.card {
  @extend .d-flex;
  @include margin-bottom-gutter();
  @include type-sm();

  flex-direction: column;
  width: 100%;
  background: $white;
  position: relative;
  overflow: visible;
  box-shadow: $box-shadow-inset;

  // --
  // Options
  &.\-tile {
    @include type-xs();
  }

  &.\-overlay {
    background-color: $gray-800; // defined for accessibility conformance: contrast
    color: #fff;
    height: $tile_overlay_height;
    overflow: hidden;
  }

  &.\-middle {
    @extend .flex-middle;
  }

  &.\-bottom {
    @extend .justify-end;
  }

  // Horizontal
  &.\-h {
    flex-direction: row;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include mqbp-up($breakpoint) {
      // Veritcal @breakpoint
      &.\-v\@#{$breakpoint} {
        flex-direction: column;
      }

      // Horizontal @breakpoint
      &.\-h\@#{$breakpoint} {
        flex-direction: row;
      }
    }
  }

  // Size variants
  &.\-sm { height: $card-height-sm; }
  &.\-md { height: $card-height-md; }
  &.\-lg { height: $card-height-lg; }
  &.\-xl { height: $card-height-xl; }

  // Parent influence
  .\-flush & {
    margin-bottom: 0;
    box-shadow: none;
  }

  .stack & {
    border: 1px solid $gray-200;
    margin-bottom: -1px;
    box-shadow: none;
  }

  // --
  // Block-level child elements
  &_link {
    @extend .d-flex;

    flex-direction: column;
    width: 100%;
    min-height: 100%;
    color: inherit;
    transition: box-shadow $transition;

    &:hover {
      box-shadow: $box-shadow-inset-hover;
    }

    // Horizontal
    .\-h & {
      flex-direction: row;
    }

    @each $breakpoint in map-keys($breakpoints) {
      @include mqbp-up($breakpoint) {
        // Veritcal @breakpoint
        .\-v\@#{$breakpoint} & {
          flex-direction: column;
        }

        // Horizontal @breakpoint
        .\-h\@#{$breakpoint} & {
          flex-direction: row;
        }
      }
    }

    .\-overlay & {
      height: 100%;
    }

    .\-middle & {
      @extend .flex-middle;
    }

    .\-middle.\-overlay & {
      @extend .d-block;
      width: 100%;
    }

    .\-bottom & {
      @extend .justify-end;
    }
  }

  &_body {
    @include card-padding();

    font-size: 100%;
    flex: 1;

    p {
      font-size: inherit;
      line-height: inherit;
      &:last-child { margin-bottom: 0; }
    }

    .\-overlay & {
      position: absolute;
      overflow-y: hidden;
      max-height: 95%;
    }

    .\-tile & { padding: 1rem; }

    .\-overlay &,
    .\-middle &,
    .\-bottom & {
      flex: 0;
    }

    .\-middle.\-overlay & {
      @extend .pin-c;
      
      text-align: center;
      width: 100%;
    }
  }

  &_title {
    padding: 0;
    margin: 0 0 0.5rem;
    line-height: 1.25;
    font-weight: 700;
    font-size: 118%;
    transition: color 0.2s ease;
  }

  &_pretitle { margin-bottom: 0.2rem; }
  &_subtitle { font-size: 110%; }

  &_media {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: $gray-800; // defined for accessibility conformance: contrast

    &::after {
      content: '';
      display: block;
      height: 0;
    }

    .\-overlay & {
      min-height: 100%;
      padding: 0;
      min-width: 100%;

      &::after {
        @extend .pin;
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    // Media on right
    .\-r & {
      order: 1;
    }

    .\+avatar & {
      max-width: 4rem;
      max-height: 4rem;
    }
  }

  // pins the <img>
  &_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &_header {
    @extend .pos-absolute;
    @extend .pin-t;

    width: 100%;

    .\-middle.\-overlay & { @extend .pin-xc; }
  }

  &_footer {
    @include card-padding();

    display: flex;
    justify-content: space-between;
    padding-top: 0 !important;
    font-size: 87.5%;

    .\-overlay & {
      position: absolute;
      bottom: 0;
    }
  }

  // Columns in header/footer
  &_column {
    @extend %component-column;

    padding: 0;
    align-self: center;
  }
}

/* Polyfill for object-fit:cover in MS Edge */
_:-ms-lang(x), .card .card_img {
  top: -10000px !important;
  right: -10000px !important;
  bottom: -10000px !important;
  left: -10000px !important;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  zoom: 0.1;
  width: auto !important;
  height: auto !important;
}
