//
// Cards
//

.card {
  // display: flex;
  @include card_variant();
  @include transition();
  @include box_shadow();
  width: 100%;
  height: auto;
  margin-bottom: $grid-gutter-width-base;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  @include type-sm();

  &:hover { @include box_shadow($component-shadow-hover); }

  .__header {
    .badge {
      display: inline-flex;
      top: 0.5rem;

      &.\--left { left: 0.5rem; }
      &.\--right { right: 0.5rem; }
    }
  }

  //
  // Columns in header/footer
  .__column { @extend %component-column; }

  //
  // Link
  .__link {
    height: 100%;
    display: block;

    &, &:hover { color: inherit; }
  }


  //
  // Graphic
  .__graphic {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 0;
      left: 0;
      transition: background 0.2s ease;
    }

    &.\+round {
      margin: 1rem auto 0;
      max-width: $card_icon_size * 3 !important;
      height: $card_icon_size * 3 !important;
      padding: 0 !important;
      border-radius: $card_icon_size * 2 !important;

      .__graphic__img {
        max-width: 200% !important;
        left: -50% !important;
      }
    }
  }

  // Image within .__graphic
  .__graphic__img {
    max-width: 110%;
    width: auto; height: auto;
    margin: auto;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: -5%;
  }


  //
  // Body
  .__body {
    padding: 1rem 1rem 3rem;
    font-size: 100%;

    p {
      font-size: inherit;
      line-height: inherit;
      &:last-child { margin-bottom: 0; }
    }
  }

  //
  // Titles within .__body
  .__title {
    line-height: 1.25;
    font-weight: 900;
    font-size: 118%;
    @extend %font_smoothing;
  }

  .__pretitle { margin-bottom: 0.2rem; }

  .__subtitle { font-size: 110%; }

  //
  // Icon
  .__icon {
    @extend %icon;
    margin-bottom: .5rem;

    i { font-size: 175%; }

    svg {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }


  //
  // Header & Footer
  .__header,
  .__footer {
    @include type-sm();
    height: 2.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: 0;
    z-index: 15;
  }

  .__header {
    top: 0;

    +.__body {
      margin-top: 2.5rem;
      border-top: 1px solid $gray-200;
    }
  }

  .__footer {
    bottom: 0;
    border-top: 1px solid $gray-200;
    z-index: 11; // appear over gradient
  }

  // Link within footer
  .__footer__link {
    @extend %button;
    @extend %block;
    margin-bottom: 0;
    height: 2.5rem;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  //
  // Position card bottom-left
  &.\--bottom {
    min-height: $card_height_xs;

    .__body {
      padding-bottom: 1rem;
      border: none;
      position: absolute;
      bottom: 0;
    }

    .__icon { text-align: left; }
  }

  //
  // Overlay
  &.\--overlay {
    color: #fff;
    min-height: $card_height_sm;

    .__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .__graphic {
      height: 100%;
      width: 100%;
      max-width: initial;
      position: absolute;
      top: 0; left: 0;
      padding: 0;

      &:after {
        background: rgba(0, 0, 0, 0.25);
      }
    }

    .__graphic__img {
      max-width: none;
      max-height: 110%;
      width: auto;
      height: auto;
      position: absolute;
      top: -10rem;
      bottom: -10rem;
      left: -10rem;
      right: -10rem;
      margin: auto;
    }

    .__body {
      position: absolute;
      top: 0; left: 0; right: 0;
      height: 100%;
    }

    &.\--middle {
      .__body {
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        border-top: 0 none;
      }
    }

    &.\--bottom {
      .__body {
        height: auto; width: auto;
        padding-bottom: 1rem;
        top: initial;
      }
    }

    &:not(.\--middle) {
      .__header ~ .__body { margin-top: 2.5rem; }
    }

    &:hover {
      .__graphic {
        &:after { background: rgba(0, 0, 0, 0.35); }
      }
    }
  }

  //
  // Tiles
  &.\--tile {
    min-height: $tile_min_height_xs;
    @include type-sm();

    .__header,
    .__footer {
      @include mqbp-up(lg) { @include type-xs(); }
    }

    .__graphic__img {
        max-height: 175%;
        @include mqbp-up(sm) { max-height: 110%; }
        @include mqbp-up(md) { max-height: 130%; }
        @include mqbp-up(lg) { max-height: 106%; }
        @include mqbp-up(xx) { max-height: 130%; }
    }

    &.\--overlay {
      height: $tile_overlay_height;
      min-height: 0;
    }
  }

  &.\+overlay_title {
    .__body { padding-top: 0; }

    .__title {
      position: absolute;
      top: 0%;
      left: 0;
      margin-top: 30%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
      color: #fff;
      
      @include mqbp-up(md) {
        top: 25%;
      }
    }
  }

  //
  // Set heights at small
  @include mqbp-up(sm) {
    height: $card_height_sm;

    &.\--overlay {
      .__graphic__img {
        max-height: 120%;
      }
    }

    &.\--tile,
    &.\--tile.\--overlay {
      height: 250px;
      min-height: 0;
    }
  }


  //
  // Set heights at medium
  @include mqbp-up(md) {
    height: $card_height_md;

    &.\--overlay {
      .__graphic__img {
        max-height: 150%;
      }
    }

    &.\--tile,
    &.\--tile.\--overlay {
      height: 200px !important;
    }
  }

  //
  // Set heights at large
  @include mqbp-up(lg) {
    height: $card_height_lg;
  }

  @include mqbp-up(xl) {
    height: $card_height_xl;

    &.\--tile,
    &.\--tile.\--overlay {
      .__body { font-size: 90%; }
    }
  }

  //
  // Set heights at extra large
  @include mqbp-up(xx) {
    height: $card_height_xx;
    margin-bottom: 40px; // = match xx gutter

    &.\--overlay {
      .__graphic__img {
        max-height: 160%;
      }
    }
  }
}


.card:not(.\--overlay):not(.\--scroll):not(.\--middle):not(.\+list-group) {
  @include mqbp-up(sm) {
    &.\--h\@sm {
      @include card_horizontal(50%, 50%);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1rem;
      bottom: 0;
      background: inherit;
      opacity: 0.7;
    }

    &:hover {
      &::after { opacity: 0.3; }
    }
  }

  @include mqbp-up(md) {
    &.\--h\@md {
      @include card_horizontal(50%, 50%);
    }
  }

  @include mqbp-up(lg) {
    &.\--h\@lg {
      @include card_horizontal(50%, 50%);
    }

    &.\--v\@lg {
      @include card_vertical();
    }
  }

  @include mqbp-up(xl) {
    &.\--h\@xl {
      @include card_horizontal(50%, 50%);
    }

    &.\--v\@xl {
      @include card_vertical();
    }
  }
}


//
// Scrolling within card
.\--scroll {
  &:after { display: none; } // kill box-shadow

  .__body {
    height: 90%;
    overflow-y: scroll;
  }
}


//
// Extend card past fixed height
.\--extend { height: auto !important; }


//
// Middle
.\--middle {
  text-align: center;
  min-height: $card_height_xs;

  .__body {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include mqbp-up(sm) {
    min-height: $card_height_sm;
  }
}

//
// Contains a list group
.\+list-group {
  // note: card-contained list-group styles appear in list-groups.scss
  .__body {
    padding-top: 0;
    padding-bottom: 2.25rem;
  }
}

//
// Add a dark shade between the background and .card .__body element
.\+shade {
  .__graphic:after,
  &:hover .__graphic:after {
    background: none;
  }

  .__body {
    background: rgba(0, 0, 0, 0.25);
    transition: background 0.2s ease;
  }

  &:hover {
    .__body { background: rgba(0, 0, 0, 0.35); }
  }
}
