// Components
// Column


// baseline column component (extend using width utility)
.col {
  @include make-gutters();
  display: block;
  flex: none;
  width: 100%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

// wrapper for .col items
.row {
  @include make-row();
  display: flex;
  flex-wrap: wrap;
}
