//
// Grid
//

// Row
//
// Rows (display:flex) contain the columns (flex items).
.row {
  @include make-row();
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

// Columns
//
// Common styles for small and large grid columns
.col {
  @include make-gutters();
  display: block;
  flex: none;
  width: 100%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}
