// Structure
// Icon


.feather,
.icon {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  &.\-thin { stroke-width: 1; }

  &.\-sm {
    height: 14px;
    width: 14px;
  }

  &.\-lg {
    height: 2.25rem;
    width: 2.25rem;
  }

  // various names to make the same thing
  &.br-round,
  &.br-pill,
  &.br-circle {
    height: 2.25rem;
    overflow: visible;
    padding: 8px;
    width: 2.25rem;

    &.\-sm {
      height: 1.5rem;
      padding: 6px;
      width: 1.5rem;
    }

    &.\-lg {
      height: 3rem;
      padding: 12px;
      width: 3rem;
    }
  }
}
