//
// List Groups
//

.list-group {
  @include k_list_unstyled();
  @include k_list_group_size();
  @include k_list_group_variant($type-color);
  position: relative;
  margin-bottom: 1rem;


  //
  // Elements
  .__item {
    display: block;
    position: relative;
    padding: $list-group-padding-y $list-group-padding-x;
    border-width: 1px;
    border-style: solid;
    border-bottom: 0 none;
    color: inherit;

    &:link:hover,
    &:link:active,
    &:link:focus {
      text-decoration: none;
      background: rgba(0, 0, 0, 0.15);
    }

    a {
      display: block;
      color: $type-link;
    }

    &:hover,
    &:active {
      a { color: desaturate(darken($type-link, 5%), 20%); }
    }

    &:last-child() {
      border-width: 1px;
      border-style: solid;
    }
  }

  > div,
  > a,
  > li { @extend .__item; }

  > a {
    color: $type-link;
    transition: all 0.2s ease;

    &:hover,
    &:active {
      background: rgba($type-link, 0.1) !important;
      color: desaturate(darken($type-link, 5%), 20%);
    }
  }

  //
  // Modifiers
  &.\--white { @include k_list_group_variant($type-color, #fff); }

  &.\--dark {
    @include k_list_group_variant(#fff, $type-color);

    > div,
    > li { 
      a:hover,
      &:hover a {
        color: lighten($type-link, 20%) !important;
      }
    }
  }

  &.\--striped {
    @include k_list_group_variant(#fff);
    a { color: #fff; }
    &.\--white {
      @include k_list_group_variant($type-color, transparent, rgba(0, 0, 0, 0.1));
      a { color: $type-link; }
    }
  }

  //
  // Sizing
  &.\--sm { @include k_list_group-size($list-group-padding-y/2, $list-group-padding-x/1.5, $font-xs) }
  &.\--lg { @include k_list_group-size($list-group-padding-y, $list-group-padding-x, 1rem); }
}
