// Components
// List Group
//
// .list-group


.list-group {
  padding-left: 0;
  list-style: none;
  position: relative;
  margin-bottom: 1rem;

  >* {
    display: block;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $gray-200;
    color: inherit;
    float: none !important;
    margin-bottom: 0;
    padding: 0.75rem 0;

    &:link:hover,
    &:link:active,
    &:link:focus { text-decoration: none; }

    &:last-child { border: 0 none; }
  }

  // Link base
  a {
    display: block;
    color: inherit;
    transition: all 0.3s ease-out;
  }

  // Styles
  &.\--white { @include list_group_variant($type-color, #fff); }

  &.\--dark { @include list_group_variant(#fff, rgba($type-color, 0.5)); }

  &.\--striped {
    >* {
      padding: 0.5rem 0.75rem;
      &:nth-child(odd) { background-color: $gray-100; }
    }
  }

  &.\--outline {
    border: 1px solid $gray-200;

    >* { padding: 0.5rem 0.75rem; }
  }

  // Icons
  .feather {
    margin: 0 .5rem 0 0;
    width: 1rem;
    height: 1rem;
  }
  &.\--right .feather { margin: 0 .5rem 0 0; }

  // Interaction
  &.\--indent {
    > * {
      transition: all 0.3s ease-out;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        padding-left: 0.4rem !important;
        padding-right: 0.4rem !important;
      }
    }
  }
}
