// Components
// Masthead

// Note to self: explore https://www.jqueryscript.net/menu/Multilevel-Sliding-Menu-jQuery-Mobile-Menu.html;

.fs-navigation {
  &-overlay-nav {
    &.fs-navigation-enabled {
      display: block;
      height: 100%;
      left: 0;
      max-width: 35rem;
      overflow: auto;
      position: fixed;
      top: 0;
      transform: translate3D(-35rem, 0, 0);
      width: 100%;
    }

    &.fs-navigation-open {
      @extend .bs;

      transform: translate3D(0, 0, 0);
      transition:
        transform 0.2s ease,
        visibility 1ms ease;
      visibility: visible;
      z-index: 3;
    }

    &.fs-navigation-animated {
      transition:
        transform 0.2s ease,
        visibility 0.1s linear 0.2s;
    }
  }

  &-overlay-content {
    &::before {
      background-color: rgba($black, 0.75);
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
      visibility: hidden;
      width: 100%;
      z-index: 2;
    }

    &.fs-navigation-open:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.masthead {
  @extend .fs-smooth;
  @include make-section();

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: visible;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: relative;
  width: 100%;
  z-index: $z-1;

  &_logo {
    max-width: 240px;
    padding: 1rem 1rem 1rem 0;

    @include mqbp-up(t) {
      max-width: 270px;
    }

    @include mqbp-up(d) {
      max-width: 280px;
    }

    @include mqbp-up(w) {
      max-width: 350px;
    }
  }

  &_image {
    max-height: 2.5rem;
    max-width: 100%;
  }

  .nav {
    &_handle {
      background-color: transparent;
      border: none;
      color: #888;
      cursor: pointer;
      height: auto;
      line-height: 1;
      overflow: hidden;
      padding-right: 0;
      position: relative;

      &:focus { outline: none; }

      @include mqbp-up(d) {
        display: none;
        float: none;
        height: 0;
        width: 0;
      }
    }

    &_list {
      clear: both;
      height: 100%;
      list-style: none;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-left: 0;
      padding-top: 1rem;
      position: relative;

      @include mqbp-up(d) {
        flex-direction: row;
        margin: 0;
        padding-top: 0;
      }
    }

    &_item {
      display: block;
      margin: 0;
      padding: 0;
      position: static;

      @include mqbp-up(d) {
        display: inline-flex;
        margin: 1.25rem 0.75rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &_link {
      border-bottom: 1px solid rgba(lighten($type-color, 70%), 0.2);
      color: inherit;
      display: block;
      font-size: 19px;
      padding: 1rem 1.25rem 1rem 0;
      position: relative;

      &:hover,
      &:focus {
        background-color: transparent;
        text-decoration: none;
      }

      &.\-active {
        position: static;
      }

      @include mqbp-up(d) {
        border: 0 none;
        color: #333;
        font-size: $fs-sm;
        padding: 1rem 0;

        &:after { content: none; }

        &:hover,
        &:focus { color: darken($type-color, 15%); }
      }
    }

    &_sublist {
      display: none;
      height: auto;
      list-style: none;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }

    &_subitem {
      margin-bottom: 0;
      padding-top: 0;
    }

    &_sublink {  
      &::before {
        content: none;
      }
    }
  }

  .\+children {
    .nav_link {
      @include mqbp-down(t) {
        &::after {
          color: $gray-500;
          content: "\e922";
          font-family: "feathericons", sans-serif;
          font-size: 24px;
          line-height: 1;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .nav_sublink {
      &::after {
        content: '';
      }
    }

    @include mqbp-down(t) {
      &.nav_sublink {
        &::after {
          content: '\e922';
        }
      }
    }
  }

  .\-active {
    + .nav_sublist {
      background-color: $white;
      display: block;
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
  /*
  .__item.\-active > a,
  .\-active > .__link {
    font-weight: bold;
    color: lighten($type-color, 80%);

    @include mqbp-up(d) {
      color: $type-color;
      cursor: default;
    }
  }
*/

  /*
    &.submenu-open.__item > a,
    &.submenu-open > .__link {
      &:after {
        content: "\e922";
        color: #666;

        @include mqbp-up(d) {
          content: none;
        }
      }
    }

    @include mqbp-up(d) {
      .__submenu {
        display: block;
        position: absolute;
        height: 0;
        max-height: 0;
        width: 0;
        top: 2.5rem;
        opacity: 0;
        right: 0;
        overflow: hidden;
        background-color: transparent;
        border: 1px solid $gray-200;
        border-radius: 2px;
        z-index: 200;
        transition:
          opacity $transition,
          background-color $transition,
          top $transition;

        .__item { margin: 0 0.75rem; }

        .__item > a,
        .__link {
          font-size: ($fs-sm * 0.95);
          line-height: 1.2;
          padding: 0.5rem 0;
          color: inherit;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $red;
          }
        }

        &:after {
          transform: rotate(45deg);
          content: '';
          position: absolute;
          top: -5px;
          right: 1rem;
          width: 9px;
          height: 9px;
          border-left: 1px solid $gray-200;
          border-top: 1px solid $gray-200;
          background-color: #fff;
        }
      }

      &:hover {
        .__submenu {
          height: auto;
          background-color: $white;
          overflow: scroll;
          max-height: 25rem;
          width: 13rem;
          top: 3.35rem;
          opacity: 1;
          padding: 1rem !important;
        }
      }
    }
  }
  */

  //
  // Modifiers

  // position the nav over an image or background
  /*
  &.\-overlay {
    position: absolute;

    > .__toggler { color: #fff; }

    @include mqbp-up(d) {
      right: 0;

      .__item a,
      .__link,
      .\-active>.__link,
      .\-active.__item > a {
        color: #fff;
      }
    }
  }

  .\+icon {
    a {
      svg {
        height: 20px;
        width: 20px;
      }

      @include mqbp-up(d) {
        color: rgba($type-color, 0.7);
        padding-bottom: 0 !important;

        svg {
          height: 18px;
          margin-bottom: -2px;
          width: 18px;
        }
      }
    }

    &:last-child a {
      padding-bottom: 0.75rem; 
      padding-right: 0;
    }
  }

  &.\+chevron {
    @include mqbp-up(d) {
      .\+children {
        margin: 1.25rem 0 !important;

        > .__link {
          padding-left: 0.5rem;
          padding-right: 1.75rem;

          &:before { // 'before' because 'after' competes with other modifiers
            color: $gray-200;
            content: "\e920" !important;
            font-family: "feathericons", sans-serif;
            font-size: 1rem;
            position: absolute;
            right: 6px;
            top: 15px;
          }
        }
      }
    }
  }

  // add a border to the bottom of active nav link
  &.\+border {
    @include mqbp-up(d) {
      .__list:not(.\-utility) {
        .__item:not(.\+icon) > .__link,
        .__item:not(.\+icon) > a {
          &::after {
            border-bottom-color: transparent;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            bottom: -1px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            transition: border-bottom $transition;
            width: 100%
          }

          &:hover {
            &::after {
              border-bottom-color: rgba($red, 0.75);
            }
          }
        }

        .\-active > .__link,
        .\-active.__item > a {
          &::after {
            border-bottom-color: $red;
          }
        }
      }

      .\+children {
        .__item > a,
        .__link {
          border-bottom: 0 none !important;
        }
      }
    }
  }

  &.\-megamenu {
    @include mqbp-up(d) {
      .__list,
      .__item { position: static; }

      .\+children {
        .__item { margin: 0; }

        // > .__link { border-bottom: 4px solid transparent; }

        .__link {
          &:focus:not(:hover) {
            background-color: transparent !important;
            color: $type-color !important;
          }
        }

        .__submenu {
          background-color: $gray-100;
          border: 0 none;
          border-radius: 0;
          box-shadow: 0px 2px 1px 0 rgba($black, 0);
          display: flex;
          flex-wrap: wrap;
          left: 0;
          max-height: 0;
          min-width: 0;
          overflow: hidden;
          padding: 0 3rem !important;
          right: 0;
          top: 4.5rem;
          transition: max-height 0.4s ease 0.1s,
            box-shadow 0.1s ease 0s;
          width: 100%;

          &:before {
            border-top: 1px solid $gray-200;
            content: "";
            left: 0;
            position: absolute;
            top: 0;
            transition: width 0.6s ease;
            width: 1%;
          }

          > li {
            margin-bottom: 0;
            padding-bottom: 1rem;
            padding-top: 1rem;
          }

          .__item > a,
          .__link {
            @include type-sm();
            color: inherit;
            padding: 0.5rem 0 !important;

            &:hover,
            &:focus {
              background-color: $type-color;
              color: #fff;
              text-decoration: none;
            }
          }

          ul {
            list-style: none;
            padding-left: 0;

            .__link {
              color: inherit;
              margin: 0;
              transition: color 0.15s ease;

              &:hover,
              &:active {
                background-color: transparent !important;
                color: $type-link !important;
              }
            }
          }

          .__link.\-heading {
            border-bottom: 1px solid rgba($black, 0.3);
            font-size: 1.15rem;
            margin-right: 0;
            padding-bottom: 0.75rem;
            padding-top: 0;
            transition:
              border-bottom $transition,
              color $transition;

            &:hover {
              background-color: transparent;
              border-bottom: 1px solid rgba($black, 0.6);
              color: $type-link;
            }
          }

          &:after { display: none; }

          .\-feature {
            background-color: rgba($gray-400, 0);
            padding-left: 1.5rem;
            transition: background 0.4s ease 0s;
          }
        }

        &:hover {
          .__item { margin: 0; }

          > a,
          > .__link {
            border-bottom-color: rgba($type-color, 0.25);

            &:after { color: $gray-400; }
          }

          .__submenu {
            box-shadow: 0px 2px 1px 0 rgba($black, 0.1);
            max-height: 20rem;
            transition: max-height 0.4s ease 0.1s,
              box-shadow $transition,
              color $transition 0.3s;
            z-index: 300;

            &:before { width: 100%; }

            > .\-feature {
              background-color: rgba($gray-400, .15);
              transition: background 0.3s ease 0.1s;
            }
          }
        }
      }

      &.bg-black {
        .\+children {
          > .__link {
            &:focus { color: $white !important; }
          }

          .__submenu {
            background-color: $black !important;

            &::before {
              border-top-color: $gray-600;
            }

            .__link {
              border-bottom: 1px solid transparent;

              &:hover,
              &:focus {
                background-color: transparent !important;
                border-bottom-color: rgba($white, 0.325);
                color: $red !important;
              }

              &.\-heading {
                border-bottom: 1px solid rgba($white, 0.1);

                &:hover,
                &:focus {
                  border-bottom: 1px solid rgba($white, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }

  &.\+utility {
    .__list:not(.\-utility) {
      @include mqbp-up(d) {
        .__item {
          margin-bottom: 0 !important;
          margin-top: 0 !important;
        }

        margin-top: 3rem;

        > .__item > .__link {
          padding-bottom: 1rem;
          padding-top: 0.25rem;

          &:before { top: 4px; }
        }
      }

      @include mqbp-up(w) {
        margin-top: 3.125rem;

        > .__item > .__link { padding-bottom: 1.35rem; }
      }
    }

    .\+children .__submenu {
      @include mqbp-up(d) { top: 2.5rem; }
      @include mqbp-up(w) { top: 2.825rem; }
    }

    &.\-megamenu {
      .\+children .__submenu {
        @include mqbp-up(d) { top: 5.5rem; }
        @include mqbp-up(w) { top: 5.95rem; }
      }
    }
  }

  .\-utility {
    .__link {
      font-size: $fs-root;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }

    @include mqbp-up(d) {
      @include make-section();
      padding-bottom: 0;
      padding-left: 0 !important;
      padding-top: 0;

      position: absolute !important;
      right: 0;
      top: 1.25rem;
      z-index: $z-max;

      .__item {
        border-right: 1px solid rgba($type-color, 0.3);
        margin: 0;

        &:last-child {
          border-right: 0 none;

          a,
          .__link { padding-right: 0; }
        }
      }

      .__link {
        color: rgba($type-color, 0.7);
        font-size: $fs-xs;
        padding: 0 0.5rem;
      }
    }

    @include mqbp-up(w) {
      top: 1.5rem;
    }
  }

  &.\-logo-md {
    .__logo__image {
      max-height: 3.25rem;
    }
  }

  &.\-logo-lg {
    .__logo__image {
      max-height: 3.75rem;
    }
  }*/
}
/*
.__drawer {
  background-color: $gray-800;
  height: 100%;
  left: 0;
  max-width: 35rem;
  overflow-y: scroll;
  position: fixed;
  right: auto;
  top: 0;
  transform: translateX(-100%);
  transition:
    transform 0.375s ease-in,
    visibility 0.375s ease-in;
  visibility: hidden;
  width: 100%;
  z-index: 1000;

  .__toggler { margin-top: 1.125rem; }

  @include mqbp-up(d) {
    background-color: transparent;
    left: auto;
    margin-left: 1rem;
    max-width: none;
    overflow-y: visible;
    padding: 0;
    position: static;
    top: auto;
    transform: none;
    transition: none;
    visibility: visible;
    width: auto;
  }
}

.masthead {
  &.\-megamenu .\+children .__submenu {
    display: none;
    flex-wrap: wrap;

    @include mqbp-up(d) { display: flex; }
  }

  &.bg-black {
    &::after {
      border-bottom-color: $gray-400;
    }

    @include mqbp-up(d) {
      .__link {
        color: rgba($white, 0.8) !important;

        &:hover {
          background-color: transparent !important;
          color: rgba($white, 1) !important;
        }
      }
      .\+children {
        &:hover,
        &:focus {
          .__submenu {
            background-color: $black;
            border-color: $gray-400;

            .__link {
              color: $gray-100 !important;

              &:hover {
                color: $white !important;
              }
            }

            &::after {
              background-color: $black;
              border-color: $gray-300;
            }
          }
        }
      }
    }
  }
}


@keyframes bump {
  0% { margin-left: 1rem; margin-right: 1rem; }
  15% { margin-left: 1.5rem; margin-right: 0.5rem; }
  55% { margin-left: 0.75rem; margin-right: 1.25rem; }
  100% { margin-left: 1rem; margin-right: 1rem; }
}

.menu-open {
  .masthead {
    .__drawer {
      transform: translateX(0);
      visibility: visible;

      .hidden--up\@d {
        .__logo { margin-left: 1rem; }
        .__toggler { margin-right: 1rem; }
      }

      .__logo,
      .__toggler,
      .__list {
        animation: bump 0.375s ease 0.375s;
      }
    }
  }
}

.menu-is-open {
  @include mqbp-up(d) { display: none; }
}

.\-overlay + main {
  > .\-hero,
  > .\-banner,
  > .article > .\-banner {
    > .__header {
      margin-top: 3rem;

      @include mqbp-up(d) {
        margin-top: 4rem;
      }
    }
  }
}

@include mqbp-up(d) {
  .full {
    .\-megamenu .\+children .__submenu {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .\-utility { right: 0; }
  }

  .contain {
    .\-megamenu .\+children .__submenu {
      padding-left: 7rem !important;
      padding-right: 7rem !important;
    }

    .\-utility { right: 4rem; }
  }
}

// restated for focus-within seperately from hover,
// as IE and Edge will completely ignore all
// definitions if grouped together :\
@include mqbp-up(d) {
  .masthead .\+children {
    &:focus-within {
      .__submenu {
        background-color: $white;
        height: auto;
        max-height: 20rem;
        opacity: 1;
        overflow: visible;
        padding: 1rem;
        width: 13rem;
      }
    }
  }

  .masthead.bg-black .\+children {
    &:focus-within {
      .__submenu {
        background-color: $black;
        border-color: $gray-400;

        &::after {
          background-color: $black;
          border-color: $gray-300;
        }
      }
    }
  }

  .masthead.\-megamenu .\+children {
    &:focus-within {
      .__submenu {
        background-color: $white;
        box-shadow: 0px 2px 1px 0 rgba($black, 0.1);
        height: auto;
        max-height: 20rem;
        opacity: 1;
        overflow: visible;
        padding: 1rem;
        transition: max-height 0.4s ease 0.1s,
          box-shadow $transition,
          color $transition 0.3s;
        width: auto;
        z-index: 300;

        &:before { width: 100%; }

        > .\-feature {
          background-color: rgba($gray-400, .15);
          transition: background 0.3s ease 0.1s;
        }
      }

      .__item { margin: 0; }

      > a,
      > .__link {
        border-bottom-color: rgba($type-color, 0.25);

        &:after { color: $gray-400; }
      }
    }
  }
}
*/

.nav_back {
  margin-bottom: 0;
  margin-top: 0.5rem;

  a {
    display: block;
    padding: 0.25rem 0 0.25rem 1.5rem;
    position: relative;
    color: $gray-600;

    &:after {

      content: "\e90c"; // left arrow icon
      font-family: "feathericons";
      font-weight: normal;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
