// Components
// Masthead - Mobile styles

@include mqbp-down(t) {
  .fs-navigation {
    &-overlay-nav {
      &.fs-navigation-enabled {
        display: block;
        height: 100%;
        left: 0;
        max-width: 35rem;
        overflow: auto;
        position: fixed;
        top: 0;
        transform: translate3D(-35rem, 0, 0);
        width: 100%;
      }

      &.fs-navigation-open {
        transform: translate3D(0, 0, 0);
        transition:
          transform 0.2s ease,
          visibility 1ms ease;
        visibility: visible;
        z-index: 3;
      }

      &.fs-navigation-animated {
        transition:
          transform 0.2s ease,
          visibility 0.1s linear 0.2s;
      }
    }

    &-overlay-content {
      &::before {
        background-color: rgba($black, 0.75);
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition:
          opacity 0.2s ease,
          visibility 0.2s ease;
        visibility: hidden;
        width: 100%;
        z-index: 2;
      }

      &.fs-navigation-open:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.masthead {
  @extend .fs-smooth;
  @include make-section();

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: visible;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: relative;
  width: 100%;
  z-index: $z-3;

  // --
  // Document container options

  // container is full width
  .section_full & { @include make-section('full'); }

  // container is 2x default document margin
  .section_contain & { @include make-section('contain', $contain: $contain-width); }

  &_logo {
    max-width: 240px;
    padding: 1rem 1rem 1rem 0;

    @include mqbp-up(t) {
      max-width: 270px;
    }

    @include mqbp-up(d) {
      max-width: 280px;
    }

    @include mqbp-up(w) {
      max-width: 350px;
    }
  }

  &_image {
    max-height: 2.5rem;
    max-width: 100%;

    // masthead options for logo size
    .masthead.\-logo-md & { max-height: 3.25rem; }
    .masthead.\-logo-lg & { max-height: 3.75rem; }
  }

  .nav {
    &_handle {
      background-color: transparent;
      border: none;
      color: $gray-800;
      cursor: pointer;
      height: auto;
      line-height: 1;
      overflow: hidden;
      padding-right: 0;
      position: relative;

      &:focus { outline: none; }
    }

    &_list {
      clear: both;
      list-style: none;
      margin-bottom: 3.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-left: 0;
      padding-top: 1rem;
      position: relative;
    }

    &_item {
      display: block;
      margin: 0;
      padding: 0;
      position: static;
    }

    &_link {
      border-bottom: 1px solid rgba(lighten($type-color, 50%), 0.3);
      color: inherit;
      display: block;
      font-size: 19px;
      padding: 1rem 1.25rem 1rem 0;
      position: relative;

      &:hover,
      &:focus {
        background-color: transparent;
        text-decoration: none;
      }

      &.\-active {
        position: static;
      }
    }

    &_sublist {
      display: none;
      height: auto;
      list-style: none;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }

    &_subitem {
      margin-bottom: 0;
      padding-top: 0;
    }

    &_sublink {
      &::before {
        content: none;
      }
    }
  }

  &.\-overlay {
    position: absolute;

    + main {
      > .banner,
      > .-hero {
        .section_header {
          margin-top: 3rem;

          @include mqbp-up(t) {
            margin-top: 4rem;
          }

          @include mqbp-up(d) {
            margin-top: 5rem;
          }
        }
      }
    }

    &.\-navbar {
      + main {
        > .banner,
        > .-hero {
          .section_header {
            margin-top: 6rem;

            @include mqbp-up(t) {
              margin-top: 7rem;
            }

            @include mqbp-up(d) {
              margin-top: 8rem;
            }
          }
        }
      }
    }
  }

  &.\-dark {
    @extend .bg-black;

    @include mqbp-down(t) {
      .nav,
      .nav_sublist[aria-expanded=true] {
        background-color: $black;
      }
    }
  }

  &_support {
    .nav_link {
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: $fs-root;
    }
  }

  // --
  // mobile styles
  @include mqbp-down(t) {
    .nav {
      background-color: $white;

      &_item,
      &_subitem { margin: 0; }
    }

    .\+children {
      >.nav_link,
      >.nav_sublink {
        &::after {
          color: $gray-500;
          content: "\e922";
          font-family: "feathericons", sans-serif;
          font-size: 24px;
          line-height: 1;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.nav_sublink {
        &::after {
          content: '\e922';
        }
      }
    }

    .nav_sublist {
      &[aria-expanded="true"] {
        background-color: $white;
        display: block;
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }

    .nav_back {
      margin-bottom: 0;
      margin-top: 0.5rem;

      a {
        color: $gray-600;
        display: block;
        padding: 0.25rem 0 0.25rem 1.5rem;
        position: relative;

        &:after {
          content: "\e90c"; // left arrow icon
          font-family: "feathericons";
          font-weight: normal;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &.-dark,
    &.\-overlay {
      color: $type-color;

      .nav_handle:not([aria-expanded="true"]) {
        color: $gray-200;
      }
    }
  }

  // --
  // desktop styles
  @include mqbp-up(d) {
    .nav {
      &_list {
        flex-direction: row;
        margin: 0;
        padding-top: 0;
      }

      &_item {
        margin: 0.75rem;
        position: relative;
        display: inline-flex;
        align-items: center;

        &:last-child { margin-right: 0; }
      }

      &_link {
        border-bottom: 0 none;
        font-size: $fs-sm;
        padding: 1.5rem 0;

        &:hover {
          color: $black;
        }

        .nav_item:last-child & { padding-right: 0; }
      }

      &_back { display: none; }

      &_sublist {
        background-color: transparent;
        border: 1px solid $gray-200;
        border-radius: 2px;
        display: block;
        height: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 2.5rem;
        transition:
          opacity .2s ease,
          background-color .2s ease,
          top .2s ease;
        width: 0;
        z-index: 200;
      }

      &_subitem {
        margin: 0 0.75rem;
      }

      &_sublink {
        font-size: 0.83rem;
        line-height: 1.2;
        padding: 0.5rem 0;

        &:hover {
          color: $red;
        }
      }
    }

    .\+children {
      margin-right: 0;
      margin-left: 0;

      .nav_link {
        padding-left: 0.5rem;
        padding-right: 1.75rem;

        &:before { // 'before' because 'after' competes with other modifiers
          content: "\e920" !important;
          position: absolute;
          font-family: "feathericons", sans-serif;
          color: inherit;
          font-size: 1rem;
          right: 6px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .nav_sublink {
        padding-left: 0;
        padding-right: 0;

        &:before {
          display: none;
        }
      }

      &:hover {
        .nav_sublist {
          background-color: $white;
          height: auto;
          max-height: 25rem;
          opacity: 1;
          overflow: scroll;
          padding: 1rem;
          top: 4rem;
          width: 13rem;

          .nav_sublist { display: none; }
        }
      }

      .nav_subitem { margin: 0; }
    }

    &.\-dark,
    &.\-overlay {
      .nav_link {
        color: $gray-100;

        &:hover {
          color: $white;
        }
      }
    }

    &.\-dark {
      .\+children {
        &:hover {
          .nav_sublist { background-color: $black; }
        }

        &.\-feature {
          &:hover {
            .nav_sublist {
              background-color: transparent !important;
            }
          }
        }
      }
    }

    &.\-overlay {
      .nav_sublink {
        color: $type-color;

        &:hover {
          color: $black;
        }
      }
    }

    &.\-megamenu {
      .nav {
        &_list,
        &_item { position: static; }

        &_sublist {
          &[data-depth="0"] {
            @include make-section();

            border: 0 none;
            border-top: 1px solid rgba(128, 128, 128, 0.25);
            display: none;
            flex-wrap: wrap;
            max-height: 0;
            padding-bottom: 0;
            padding-top: 0;
            position: absolute;
            transition: max-height 0.2s ease;

            .nav_subitem {
              flex: 1;
              margin-right: 1rem;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          &[data-depth="1"] {
            border: 0 none;
            flex-direction: column;
            list-style: none;
            padding: 0;
          }
        }

        .\+children {
          &:hover {
            .nav_sublist {
              display: flex;
              left: 0;
              max-height: none;
              top: 5rem;
              width: 100%;
            }
          }
        }

        .\-heading {
          font-size: $fs-root;
          border-bottom: 1px solid rgba($gray, 0.25);
          margin: 0.5rem 0 0.5rem;;
        }
      }
    }

    &.\-support {
      .nav_list:not(.masthead_support) {
        margin-top: 2rem;

        .nav_item {
          margin-top: 0.125rem;
        }

        .nav_link {
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
        }
      }

      &.\-megamenu {
        .\+children {
          &:hover {
            .nav_sublist {
              &[data-depth="0"] {
                top: 2.5rem;
              }

              &[data-depth="1"] {
                margin-bottom: 1rem;
                margin-top: 0;
                top: 0;
              }
            }
          }
        }
      }
    }

    &.\-navbar {
      padding-bottom: 3rem !important;
    }

    &.\-support {
      .\+children {
        &:hover {
          .nav_sublist { top: 0.25rem; }
        }
      }
    }

    &.\-border {
      .nav_link {
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 3px;
          left: 0;
          right: 0;
          border-bottom: 3px solid transparent;
          transition: border-bottom .2s ease;
        }

        &:hover {
          &::after {
            border-bottom-color: rgba(212, 27, 44, 0.75);
          }
        }
      }
    }

    .masthead_support {
      @include make-section();

      padding-bottom: 0;
      padding-top: 0;
      padding-left: 0 !important;
      position: absolute !important;
      right: 0;
      top: 1.25rem;
      z-index: $z-max;

      .nav_item {
        margin: 0;
        border-right: 1px solid rgba($type-color, 0.3);

        &:last-child {
          border-right: 0 none;

          .nav_link { padding-right: 0; }
        }
      }

      .nav_link {
        padding: 0 0.5rem;
        font-size: $fs-xs;
        opacity: 0.75;

        &:hover {
          opacity: 1;
        }
      }
    }

    .\-feature {
      background-color: rgba(128, 128, 128, 0.125);
      padding-left: 1rem;
      padding-right: 1rem;

      .nav_sublist {
        background-color: transparent !important;
      }
    }
  }
}

.masthead_navbar_id {
  @extend .nav_link;
  @extend .tt-caps;

  border-bottom: 0 none !important;
  flex-basis: 100%;
  font-weight: 700;

  @include mqbp-down(t) {
    border-top: 1px solid $black-alpha;

    .\-dark &,
    .\-overlay & {
      border-top: 1px solid $white-alpha;
      color: $white;
    }
  }

  .masthead_nav & {
    margin-left: 1rem;

    @include mqbp-up(d) {
      flex-basis: auto;
      margin-left: 0;
      padding: 0 !important;
      align-self: center;
    }
  }
}

.masthead_navbar {
  @include mqbp-up(d) {
    @include make-section();

    background-color: rgba($gray-200, 0.35);
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 3rem;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
  }

  .nav_list {
    padding-top: 0;

    @include mqbp-up(d) {
      margin-top: 0 !important;
    }
  }

  .nav_item {
    @include mqbp-up(d) {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }

  .nav_link:not(.masthead_navbar_id) {
    @include mqbp-up(d) {
      padding-bottom: 0.5rem !important;
      padding-top: 0.5rem !important;
    }
  }

  @include mqbp-up(d) {
    .\+children {
      &:hover {
        .nav_sublist { top: 2.5rem !important; }
      }
    }
  }
}

.masthead_nav .masthead_navbar_id {
  border-top: 0 none;

  .\-overlay & { color: $type-color; }
}

// restated for focus-within seperately from hover,
// as IE and Edge will completely ignore all
// definitions if grouped together :\
@include mqbp-up(d) {
  .masthead .\+children {
    &:focus-within {
      .nav_sublist {
        background-color: $white;
        height: auto;
        margin-top: 0;
        max-height: 25rem;
        opacity: 1;
        overflow: scroll;
        padding: 1rem;
        width: 13rem;

        .nav_sublist { display: none; }
      }
    }
  }

  .masthead.\-dark .\+children {
    &:focus-within {
      .nav_sublist {
        background-color: $black;
        border-color: $gray-400;

        &::after {
          background-color: $black;
          border-color: $gray-300;
        }
      }
    }
  }

  .masthead.\-megamenu .\+children {
    &:focus-within {
      .nav_sublist {
        height: auto;
        background-color: $white;
        overflow: visible;
        max-height: 20rem;
        z-index: 300;
        width: auto;
        opacity: 1;
        padding: 1rem;
        box-shadow: 0px 2px 1px 0 rgba($black, 0.1);
        transition: max-height 0.4s ease 0.1s,
                    box-shadow $transition,
                    color $transition 0.3s;

        &:before { width: 100%; }

        > .\-feature {
          background-color: rgba($gray-400, .15);
          transition: background 0.3s ease 0.1s;
        }
      }

      .nav_item { margin: 0; }

      > .nav_link {
        border-bottom-color: rgba($type-color, 0.25);

        &:after { color: $gray-400; }
      }
    }
  }

  .masthead_navbar .\+children {
    &:focus-within {
      .nav_sublist { top: 2.5rem !important; }
    }
  }
}
