// Components
// Masthead

// Note to self: explore https://www.jqueryscript.net/menu/Multilevel-Sliding-Menu-jQuery-Mobile-Menu.html;

.fs-navigation {
  &-overlay-nav {
    &.fs-navigation-enabled {
      display: block;
      height: 100%;
      left: 0;
      max-width: 35rem;
      overflow: auto;
      position: fixed;
      top: 0;
      transform: translate3D(-35rem, 0, 0);
      width: 100%;
    }

    &.fs-navigation-open {
      @extend .bs;

      transform: translate3D(0, 0, 0);
      transition:
        transform 0.2s ease,
        visibility 1ms ease;
      visibility: visible;
      z-index: 3;
    }

    &.fs-navigation-animated {
      transition:
        transform 0.2s ease,
        visibility 0.1s linear 0.2s;
    }
  }

  &-overlay-content {
    &::before {
      background-color: rgba($black, 0.75);
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
      visibility: hidden;
      width: 100%;
      z-index: 2;
    }

    &.fs-navigation-open:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.masthead {
  @extend .fs-smooth;
  @include make-section();

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: visible;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: relative;
  width: 100%;
  z-index: $z-1;

  &_logo {
    max-width: 240px;
    padding: 1rem 1rem 1rem 0;

    @include mqbp-up(t) {
      max-width: 270px;
    }

    @include mqbp-up(d) {
      max-width: 280px;
    }

    @include mqbp-up(w) {
      max-width: 350px;
    }
  }

  &_image {
    max-height: 2.5rem;
    max-width: 100%;
  }

  .nav {
    &_handle {
      background-color: transparent;
      border: none;
      color: #888;
      cursor: pointer;
      height: auto;
      line-height: 1;
      overflow: hidden;
      padding-right: 0;
      position: relative;

      &:focus { outline: none; }

      @include mqbp-up(d) {
        display: none;
        float: none;
        height: 0;
        width: 0;
      }
    }

    &_list {
      clear: both;
      height: 100%;
      list-style: none;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-left: 0;
      padding-top: 1rem;
      position: relative;

      @include mqbp-up(d) {
        flex-direction: row;
        margin: 0;
        padding-top: 0;
      }
    }

    &_item {
      display: block;
      margin: 0;
      padding: 0;
      position: static;

      @include mqbp-up(d) {
        display: inline-flex;
        margin: 1.25rem 0.75rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &_link {
      border-bottom: 1px solid rgba(lighten($type-color, 70%), 0.2);
      color: inherit;
      display: block;
      font-size: 19px;
      padding: 1rem 1.25rem 1rem 0;
      position: relative;

      &:hover,
      &:focus {
        background-color: transparent;
        text-decoration: none;
      }

      &.\-active {
        position: static;
      }

      @include mqbp-up(d) {
        border: 0 none;
        color: #333;
        font-size: $fs-sm;
        padding: 1rem 0;

        &:after { content: none; }

        &:hover,
        &:focus { color: darken($type-color, 15%); }
      }
    }

    &_sublist {
      display: none;
      height: auto;
      list-style: none;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

      @include mqbp-up(d) {
        display: block;
        height: 0;
        max-height: 0;
        opacity: 0;
        position: absolute;
        top: 2.5rem;
        width: 0;
      }
    }

    &_subitem {
      margin-bottom: 0;
      padding-top: 0;
    }

    &_sublink {
      &::before {
        content: none;
      }
    }
  }

  .\+children {
    >.nav_link,
    >.nav_sublink {
      @include mqbp-down(t) {
        &::after {
          color: $gray-500;
          content: "\e922";
          font-family: "feathericons", sans-serif;
          font-size: 24px;
          line-height: 1;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @include mqbp-down(t) {
      &.nav_sublink {
        &::after {
          content: '\e922';
        }
      }
    }

    @include mqbp-up(d) {
      &:hover {
        .__submenu {
          background-color: $white;
          height: auto;
          max-height: 25rem;
          opacity: 1;
          overflow: scroll;
          padding: 1rem !important;
          top: 3.35rem;
          width: 13rem;
        }
      }
    }
  }

  .nav_sublist {
    &[aria-expanded="true"] {
      background-color: $white;
      display: block;
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .nav_back {
    margin-bottom: 0;
    margin-top: 0.5rem;

    a {
      color: $gray-600;
      display: block;
      padding: 0.25rem 0 0.25rem 1.5rem;
      position: relative;

      &:after {

        content: "\e90c"; // left arrow icon
        font-family: "feathericons";
        font-weight: normal;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    @include mqbp-up(d) {
      display: none;
    }
  }
}
