//
// Mastheads
//

.masthead {
  position: relative;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
  z-index: 1000 !important;
  @include clearfix();
  @include font_smoothing();

  .__logo {
    max-width: 240px;
    float: left;
    margin: 1.25rem 1rem 1rem;

    @include mqbp-up(sm) {
      max-width: 270px;
    }

    @include mqbp-up(md) {
      @include make-masthead();
    }

    @include mqbp-up(lg) {
      max-width: 280px;
      margin-top: 1.5rem;
    }

    @include mqbp-up(xl) {
      max-width: 350px;
    }
  }

  .__logo__image {
    max-width: 100%;
    max-height: 3rem;
  }

  .__toggler {
    position: relative;
    display: block;
    float: right;
    overflow: hidden;
    margin: 0.95rem 1rem 0 0;
    padding: 0;
    width: 26px;
    height: auto;
    font-size: 2rem;
    line-height: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #888;

    &:focus { outline: none; }

    &.menu-is-open {
      font-size: 1.5rem;
      color: #999;
    }

    @include mqbp-up(sm) {
      margin-top: 1.25rem;
    }

    @include mqbp-up(md) {
      @include make-masthead();
      margin-top: 1.35rem;
    }

    @include mqbp-up(lg) {
      display: none;
      width: 0;
      height: 0;
      float: none;
    }
  }

  .__list {
    @include list_unstyled();
    @include make-masthead();
    clear: both;
    padding-top: 1rem;

    > .__item { display: block; }

    @include mqbp-up(lg) {
      padding-top: 0;
      margin: 0;

      > .__item { float: left; }
    }
  }

  .__item {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .__link,
  .__item a {
    position: relative;
    display: block;
    padding: 1rem 1.25rem 1rem 0;
    font-size: 19px;
    color: lighten($type-color, 70%);
    border-bottom: 1px solid rgba(lighten($type-color, 70%), 0.2);

    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten($type-color, 70%);
    }

    &:after {
      font-family: "feathericons";
      content: "\e922";
      position: absolute;
      right: 0;
      vertical-align: middle;
      font-size: 24px;
      line-height: 1.2;
    }

    @include mqbp-up(lg) {
      padding: 2.125rem 0.75rem;
      font-size: 15px;
      color: #333;
      border: 0 none;

      &:after { content: none; }

      &:hover,
      &:focus { color: darken($type-color, 15%); }
    }

    @include mqbp-up(xl) {
      padding: 2.25rem 0.75rem;
      font-size: 16px;
    }
  }

  .__item.\--active > a,
  .\--active > .__link {
    font-weight: bold;
    color: lighten($type-color, 80%);

    @include mqbp-up(lg) {
      color: $type-color;
      cursor: default;
    }
  }

  .__submenu {
    display: none;
    padding-top: 0;
    padding-left: 1.5rem;
    list-style: none;
    height: auto;
  }

  .\+children {
    &.__item > a,
    > .__link {
      &:after {
        content: "\e970";

        @include mqbp-up(lg) {
          content: none;
        }
      }
    }

    &.submenu-open.__item > a,
    &.submenu-open > .__link {
      &:after {
        content: "\e922";
        color: #666;

        @include mqbp-up(lg) {
          content: none;
        }
      }
    }

    @include mqbp-up(lg) {
      .__submenu {
        position: absolute;
        height: auto;
        top: 4.5rem;
        background: rgba(#f2f2f2, 0.9);
        padding: 0.5rem !important;
        border-radius: 2px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
        z-index: 200;
        min-width: 190%;
        max-width: 300%;
        width: auto;
        left: -45%;

        .__item > a,
        .__link {
          @include type-sm();
          padding: 0.5rem;
          color: inherit;
          text-decoration: none;
          border-radius: 2px;

          &:hover,
          &:focus {
            background: $type-color;
            color: #fff;
          }
        }

        &:after {
          position: absolute;
          content: "";
          border-style: solid;
          border-width: 0 9px 9px 9px;
          border-color: transparent transparent rgba(#f2f2f2, 0.9) transparent;
          -webkit-transform: rotate(360deg);
          border-style: inset;
          top: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          z-index: 300;
        }
      }

      &:hover {
        .__submenu {
          display: block;
        }
      }
    }

    &:last-child {
      @include mqbp-up(lg) {
        &.__item > a,
        >.__link::after {
          content: none !important;
        }

        &:hover {
          .__submenu {
            left: auto;
            right: 0;

            &:after {
              left: auto;
              right: 20%;
              transform: translateX(-20%);
            }
          }
        }
      }
    }
  }

  //
  // Modifiers

  // position the nav over an image or background
  &.\--overlay {
    .__logo,
    .__toggler {
      position: absolute;
      top: 0;
    }

    .__toggler {
      color: #fff;
      right: 0;
    }

    @include mqbp-up(lg) {
      position: absolute;
      right: 0;

      .__item a,
      .__link,
      .\--active>.__link,
      .\--active.__item a {
        color: #fff;
      }
    }
  }

  // add a border to the bottom of active nav link
  &.\+border {
    @include mqbp-up(lg) {
      .__logo { margin-top: 1.6rem; }

      .__list:not(.\--utility) {
        .__link,
        .__item > a {
          border-bottom: 3px solid transparent;

          &:hover { border-bottom-color: rgba($type-color, 0.5); }
        }

        .\--active > .__link,
        .\--active.__item > a { border-bottom-color: rgba($type-color, 0.35); }
      }
    }

    @include mqbp-up(xl) {
      .__logo { margin-top: 1.7rem; }
    }
  }

  &.\--megamenu {
    @include mqbp-up(lg) {
      .__logo { margin-top: 1.625rem; }

      .__list,
      .__item { position: static; }

      .\+children {
        > .__link { border-bottom: 4px solid transparent; }

        .__link {
          &:focus:not(:hover) {
            background-color: transparent !important;
            color: $type-color !important;
            outline: none;
          }
        }

        .__submenu {
          @include make-megamenu();
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          top: 5.85rem;
          left: 0;
          right: 0;
          background: $gray-100;
          max-height: 0;
          min-width: 0;
          border-radius: 0;
          box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0);
          overflow: hidden;
          transition: max-height 0.4s ease 0.1s,
                      box-shadow 0.1s ease 0s;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-top: 1px solid $gray-200;
            width: 1%;
            transition: width 0.6s ease;
          }

          > li {
            padding: 1rem 1.5rem 1rem 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          .__item > a,
          .__link {
            @include type-sm();
            padding: 0.5rem 0 !important;
            color: inherit;

            &:hover,
            &:focus {
              background: $type-color;
              color: #fff;
              text-decoration: none;
            }
          }

          ul {
            @include list_unstyled();

            .__link {
              margin: 0;
              color: inherit;
              transition: color 0.15s ease;

              &:hover,
              &:active {
                background-color: transparent !important;
                color: $type-link !important;
              }
            }
          }

          .\--heading {
            font-size: 1.15rem !important;
            padding-top: 0 !important;
            padding-bottom: 0.75rem !important;
            margin-bottom: 0.25rem;
            margin-right: 0 !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            transition: border-bottom 0.2s ease;

            &:hover {
              background-color: transparent;
              color: $type-link !important;
              border-bottom: 1px solid rgba(0, 0, 0, 0.6);
            }
          }

          &:after { display: none; }

          .\--feature {
            @include border-radius(2px);
            padding-left: 1.5rem;
            background: rgba($gray-400, 0);
            transition: background 0.4s ease 0s;
          }
        }

        &:hover {
          > a,
          > .__link {
            border-bottom-color: rgba($type-color, 0.25);

            &:after { color: $gray-400; }
          }

          .__submenu {
            max-height: 20rem;
            z-index: 300;
            box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.1);
            transition: max-height 0.4s ease 0.1s,
                        box-shadow 0.2s ease 0.3s;

            &:before { width: 100%; }

            > .\--feature {
              background: rgba($gray-400, .15);
              transition: background 0.3s ease 0.1s;
            }
          }
        }
      }

      &.\+chevron {
        .\+children {
          > .__link {
            padding-left: 0.5rem;
            padding-right: 1.75rem;

            &:after {
              content: "\e920" !important;
              color: $gray-200;
              font-size: 1rem;
              top: 2.375rem;
              right: 0.5rem;
            }
          }
        }
      }
    }

    @include mqbp-up(xl) {
      .__logo { margin-top: 1.75rem; }
    }
  }

  .\+icon {
    @include mqbp-up(lg) {
      a {
        padding-bottom: 0 !important;
        color: rgba($type-color, 0.7);

        i, svg {
          width: 20px;
          height: 20px;
          margin-top: 1px;
        }
      }
    }

    &:last-child a { padding-right: 0; }
  }

  &.\+utility {
    .__list:not(.\--utility) {
      @include mqbp-up(lg) {
        margin-top: 3rem;

        .__link {
          padding-top: 0.25rem;
          padding-bottom: 1rem;

          &:focus { outline: none; }

          &:after { top: 0.45rem; }
        }
      }

      @include mqbp-up(xl) {
        margin-top: 3.125rem;

        .__link { padding-bottom: 1.35rem; }
      }
    }

    .\+children .__submenu {
      @include mqbp-up(lg) { top: 2.5rem; }
      @include mqbp-up(xl) { top: 2.5rem; }
    }

    &.\--megamenu {
      .\+children .__submenu {
        @include mqbp-up(lg) { top: 5.85rem; }
        @include mqbp-up(xl) { top: 6.375rem; }
        @include mqbp-up(xx) { top: 6.25rem; }
      }
    }
  }

  .\--utility {
    .__link {
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: $fs-root;
    }

    @include mqbp-up(lg) {
      .__item {
        border-right: 1px solid rgba($type-color, 0.3);

        &:last-child {
          border-right: 0 none;

          a,
          .__link { padding-right: 0; }
        }
      }

      @include make-masthead();
      position: absolute !important;
      top: 1.25rem;
      right: 0;

      .__link {
        padding: 0 0.5rem;
        font-size: $fs-xs;
        color: rgba($type-color, 0.7);
      }
    }

    @include mqbp-up(xl) {
      top: 1.5rem;
    }
  }
}

.__drawer {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  max-width: 35rem;
  background-color: $gray-800;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.375s ease-in,
  visibility 0.375s ease-in;

  .__toggler { margin-top: 1.125rem; }

  @include mqbp-up(lg) {
    position: static;
    float: right;
    width: auto;
    max-width: none;
    padding: 0;
    @include make-masthead();
    visibility: visible;
    background: transparent;
    transition: none;
    transform: none;
    overflow-y: visible;
  }
}

@keyframes bump {
  0% { margin-left: 1rem; margin-right: 1rem; }
  15% { margin-left: 1.5rem; margin-right: 0.5rem; }
  55% { margin-left: 0.75rem; margin-right: 1.25rem; }
  100% { margin-left: 1rem; margin-right: 1rem; }
}

.menu-open {
  .masthead {
    .__drawer {
      visibility: visible;
      transform: translateX(0);

      .__logo,
      .__toggler,
      .__list {
        animation: bump 0.375s ease 0.375s;
      }
    }
  }
}

.menu-is-open {
  @include mqbp-up(lg) { display: none; }
}
