//
// Mastheads
//

.masthead {
  position: relative;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
  z-index: 1000 !important;
  @include clearfix();
  @include font_smoothing();

  .__logo {
    max-width: 240px;
    float: left;
    margin: 1.25rem 1rem 1rem;

    @include media-breakpoint-up(sm) {
      max-width: 270px;
    }

    @include media-breakpoint-up(md) {
      @include make-masthead();
    }

    @include media-breakpoint-up(lg) {
      max-width: 300px;
      margin-top: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      max-width: 350px;
      margin-top: 1.75rem;
    }
  }

  .__logo__image {
    max-width: 100%;
    max-height: 3rem;
  }

  .__toggler {
    position: relative;
    display: block;
    float: right;
    overflow: hidden;
    margin: 0.95rem 1rem 0 0;
    padding: 0;
    width: 26px;
    height: auto;
    font-size: 2rem;
    line-height: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #888;

    &:focus {
      outline: none;
    }

    &.menu-is-open {
      font-size: 1.5rem;
      color: #999;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 1.25rem;
    }

    @include media-breakpoint-up(md) {
      @include make-masthead();
      margin-top: 1.35rem;
    }

    @include media-breakpoint-up(lg) {
      display: none;
      width: 0;
      height: 0;
      float: none;
    }
  }

  .__list {
    @include list_unstyled();
    @include make-masthead();
    clear: both;
    padding-top: 1rem;

   >.__item {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 0;
      margin: 0;
     >.__item {
        float: left;
      }
    }
  }

  .__item {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .__link,
  .__item a {
    position: relative;
    display: block;
    padding: 1rem 1.25rem 1rem 0;
    font-size: 19px;
    color: lighten($type-color, 70%);
    border-bottom: 1px solid rgba(lighten($type-color, 70%), 0.2);

    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten($type-color, 70%);
    }

    &:after {
      font-family: "feathericons";
      content: "\e922";
      position: absolute;
      right: 0;
      vertical-align: middle;
      font-size: 24px;
      line-height: 1.2;
    }

    @include media-breakpoint-up(lg) {
      padding: 2.125rem 0.75rem;
      font-size: 16px;
      color: #333;
      border: 0 none;

      &:after {
        content: none;
      }

      &:hover,
      &:focus {
        color: darken($type-color, 15%);
      }
    }

    @include media-breakpoint-up(xl) {
      padding: 2.25rem 0.75rem;
    }
  }

  .__item.active > a,
  .active > .__link {
    font-weight: bold;
    color: lighten($type-color, 80%);
    @include media-breakpoint-up(lg) {
      color: $type-color;
      cursor: default;
    }
  }

  .__submenu {
    display: none;
    padding-top: 0;
    padding-left: 1.5rem;
    list-style: none;
    height: auto;
  }

  .\+children {
    &.__item > a,
    > .__link {
      &:after {
        content: "\e970" !important;

        @include media-breakpoint-up(lg) {
          content: none !important;
        }
      }
    }

    &.submenu-open.__item > a,
    &.submenu-open > .__link {
      &:after {
        content: "\e922" !important;
        color: #666;

        @include media-breakpoint-up(lg) {
          content: none !important;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      &.__item > a,
      > .__link::after {
        content: none !important;
      }

      &:hover {
        .__submenu {
          display: block;
          position: absolute;
          top: 4.5rem;
          height: auto;
          background: rgba(#f2f2f2, 0.9);
          padding: 0.5rem;
          border-radius: 2px;
          box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
          z-index: 200;
          min-width: 190%;
          max-width: 300%;
          width: auto;
          left: -45%;

          .__item > a,
          .__link {
            @include type-sm();
            padding: 0.5rem;
            color: inherit;

            &:hover,
            &:focus {
              background: $type-color;
              color: #fff;
              text-decoration: none;
              border-radius: 2px;
            }
          }

          &:after {
            position: absolute;
            content: "";
            border-style: solid;
            border-width: 0 9px 9px 9px;
            border-color: transparent transparent rgba(#f2f2f2, 0.9) transparent;
            -webkit-transform: rotate(360deg);
            border-style: inset;
            top: -0.5rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 300;
          }
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        &.__item > a,
        >.__link::after {
          content: none !important;
        }

        &:hover {
          .__submenu {
            left: auto;
            right: 0;

            &:after {
              left: auto;
              right: 20%;
              transform: translateX(-20%);
            }
          }
        }
      }
    }
  }

  //
  // Modifiers

  // position the nav over an image or background
  &.\--overlay {
    .__logo,
    .__toggler {
      position: absolute;
      top: 0;
    }

    .__toggler {
      color: #fff;
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;

      .__item a,
      .__link,
      .active>.__link,
      .active.__item a {
        color: #fff;
      }
    }
  }

  &.\--megamenu {

    @include media-breakpoint-up(lg) {
      .__drawer,
      .__list,
      .__item { position: static; }

      .\+children {
        > .__link { border-bottom: 4px solid transparent; }

        &:hover {
          > .__link { border-bottom-color: rgba($type-color, 0.25); }

          .__submenu {
            border-top: 1px solid $gray-200;
            padding: 0;
            @include make-row();
            margin-right: 0 !important;
            top: 5.75rem;
            background: rgba($gray-100, 1);
            min-width: 0;
            max-width: none;
            width: auto;
            left: 0;
            right: 0;
            border-radius: 0;
            padding-top: 1rem;
            padding-bottom: 1rem;

            > li {
              padding-top: 1rem;
              padding-bottom: 1rem;
            }

            .__item > a,
            .__link {
              @include make-masthead();
              @include type-xs();
              padding: 0.5rem 0;
              color: inherit;

              &:hover,
              &:focus {
                background: $type-color;
                color: #fff;
                text-decoration: none;
              }
            }

            ul {
              @include list_unstyled();

              a {
                &:hover {
                  background-color: transparent !important;
                  color: $type-link !important;
                }
              }
            }

            .\--heading {
              font-size: $fs-root !important;
              border-bottom: 1px solid $gray-200;

              &:hover {
                background-color: transparent;
                color: $type-link !important;
              }
            }

            &:after {
              display: none;
            }

            .\--feature {
              flex-basis: 22%;
              max-width: 22%;
              @include border-radius(2px);

              a,
              .__link {
                margin-left: 1rem;

                &:hover { color: #fff !important; }
              }
            }
          }
        }
      }
    }
  }

  .\+icon {
    @include media-breakpoint-up(lg) {
      a {
        padding-bottom: 0 !important;

        i, svg {
          width: 20px;
          height: 20px;
          margin-top: 1px;
        }
      }
    }
  }

  // add a border to the bottom of active nav link
  &.\+border {
    .__list {
      @include media-breakpoint-up(lg) {
        .__link,
        .__item > a {
          border-bottom: 3px solid transparent;

          &:hover { border-bottom-color: rgba($type-color, 0.5); }
        }

        .active > .__link,
        .active.__item > a { border-bottom-color: rgba($type-color, 0.35); }
      }

      @include media-breakpoint-up(xl) {
        .__link,
        .__item > a {padding: 2.5rem 0.75rem 2.4rem; }
      }
    }

    @include media-breakpoint-up(xl) {
      .\+children:hover .__submenu { top: 4.75rem; }
    }
  }

  &.\+utility {
    .__list:not(.\--utility) {
      @include media-breakpoint-up(lg) {
        margin-top: 0.9rem;

        .__link { padding-bottom: 1rem; }
      }

      @include media-breakpoint-up(xl) {
        margin-top: 3.125rem;

        .__link {
          padding-top: 0.25rem;
          padding-bottom: 1.35rem;
        }
      }
    }

    .\+children:hover .__submenu {
      @include media-breakpoint-up(lg) { top: 5.75rem; }
      @include media-breakpoint-up(xl) { top: 6.375rem; }
      @include media-breakpoint-up(xx) { top: 6.25rem; }
    }
  }

  .\--utility {
    .__link {
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: $fs-root;
    }

    @include media-breakpoint-up(lg) {
      .__item {
        border-right: 1px solid rgba($type-color, 0.3);

        &:last-child {
          border-right: 0 none;
        }
      }

      @include make-masthead();
      position: absolute !important;
      top: 1.25rem;
      right: 0;

      .__link {
        padding: 0 0.5rem;
        font-size: $fs-xs;
        color: rgba($type-color, 0.7);
      }
    }

    @include media-breakpoint-up(xl) {
      top: 1.5rem;
    }
  }
}

.__drawer {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  max-width: 35rem;
  background-color: $gray-800;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.375s ease-in,
  visibility 0.375s ease-in;

  .__toggler {
    margin-top: 1.125rem;
  }

  @include media-breakpoint-up(lg) {
    position: relative;
    float: right;
    width: auto;
    max-width: none;
    padding: 0;
    @include make-masthead();
    visibility: visible;
    background: transparent;
    transition: none;
    transform: none;
    overflow-y: visible;
  }
}

@keyframes bump {
  0% { margin-left: 1rem; margin-right: 1rem; }
  15% { margin-left: 1.5rem; margin-right: 0.5rem; }
  55% { margin-left: 0.75rem; margin-right: 1.25rem; }
  100% { margin-left: 1rem; margin-right: 1rem; }
}

.menu-open {
  .masthead {
    .__drawer {
      visibility: visible;
      transform: translateX(0);

      .__logo,
      .__toggler,
      .__list {
        animation: bump 0.375s ease 0.375s;
      }
    }
  }
}

.menu-is-open {
  @include media-breakpoint-up(lg) { display: none; }
}
