// Components
// Modal


.modal {
  align-items: center;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-max;

  // --
  // Block level

  // centered content within modal
  &_body {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    margin: 4rem auto 5rem;
    max-height: 96vh;
    max-width: 450px;
    overflow-y: scroll;
    padding: 2rem;
    position: relative;
    width: 90%;
    z-index: 50;

    @include mqbp-up(t) {
      max-width: 760px;
      width: 80%;
    }

    @include mqbp-up(w) {
      max-width: 900px;
    }
  }

  // dark screen as modal backdrop
  &_screen {
    background-color: rgba($black, 0.85);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  // close button in top right corner of browser window
  &_close {
    background: 0 none;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0.85;
    padding: 0.5rem;
    position: absolute;
    right: 0.5rem;
    text-shadow: 0 1px 0 #fff;
    top: 0.25rem;
    transition: opacity 0.2s ease;

    .feather { stroke-width: 3; }

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  // --
  // Modifiers

  &.\-active { display: flex; }

  &.\-sm {
    .modal_body {
      @include mqbp-up(t) {
        max-width: 400px;
      }
    }
  }

  &.\-lg {
    .modal_body {
      @include mqbp-up(d) {
        max-width: 992px;
      }
    }
  }

  &.\-xl {
    .modal_body {
      @include mqbp-up(t) {
        height: 100%;
        max-width: 86%;
      }

      @include mqbp-up(d) {
        max-width: 92%;
      }
    }
  }
}
