// Components
// Nav


.nav {
  &.\-interior {
    display: none;

    @include mqbp-up(t) {
      display: flex;
    }
  }

  &_list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    .\-interior & {
      margin-bottom: 0;
      flex-basis: 100%;
      transition: all 0.05s ease-in;
    }

    @include mqbp-up(t) {
      visibility: visible;
      background-color: transparent;
      height: auto;
    }

    .\-inline & {
      flex-direction: row;
    }
  }

  &_item {
    margin-bottom: 0;
    padding-top: 0;

    .\-interior & {
      font-size: $fs-sm;
      border-bottom: 1px solid $gray-200;
    }

    .\-inline & {
      display: inline-flex;
    }
  }

  &_link {
    position: relative;
    display: block;
    padding: 1rem 0.5rem;
    line-height: 1rem;
    color: $gray-700;
    transition: background-color 0.15s ease;

    .\-inline & {
      padding: 0.5rem;
    }

    &[aria-current="true"] {
      font-weight: $type-bold;
      color: $black;
    }

    &:hover {
      background-color: rgba($gray-200, 0.3);
      text-decoration: none;
      color: inherit;
    }
  }

  &_sublist {
    @extend .nav_list;
    padding-top: 0;

    @include mqbp-up(t) {
      display: none;

      [aria-current="true"] + & {
        display: flex;
      }
    }
  }

  &_subitem {
    padding-left: 0;
  }

  &_sublink {
    @extend .nav_link;

    position: relative;
    padding: 0.4rem 0.75rem 0.4rem 1.5rem;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 1px;
      background-color: rgba($gray-900, 0.3);
      top: 0.9rem;
      left: 0.5rem;
    }
  }
}
