// Components
// Nav


.nav {
  &.\-interior {
    display: none;

    @include mqbp-up(t) {
      display: flex;
    }
  }

  &_list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    .\-interior & {
      margin-bottom: 0;
      flex-basis: 100%;
      transition: all 0.05s ease-in;
    }

    @include mqbp-up(t) {
      visibility: visible;
      background-color: transparent;
      height: auto;
    }
  }

  &_link {
    position: relative;
    display: block;
    padding: 1rem 0.5rem;
    line-height: 1rem;
    color: $gray-700;
    transition: background-color 0.15s ease;

    &[aria-current="true"] {
      font-weight: $type-bold;
      color: $black;
    }

    &:hover {
      background-color: rgba($gray-200, 0.3);
      text-decoration: none;
      color: inherit;
    }
  }

  &_item {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding-top: 0;

    .\-interior & {
      font-size: $fs-sm;
    }
  }
}
