// Components
// Nav


.nav {
  &.\-interior {
    display: none;

    @include mqbp-up(t) {
      display: flex;
    }
  }

  &.\-inline { overflow-x: scroll; }

  &_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;

    @include mqbp-up(t) {
      background-color: transparent;
      height: auto;
      visibility: visible;
    }

    .\-interior & {
      flex-basis: 100%;
      margin-bottom: 0;
      transition: all 0.05s ease-in;
    }

    .\-inline & {
      flex-direction: row;
      margin: 0;
    }

    .\-underline &,
    .\-border & {
      border-bottom: 1px solid $gray-200;
    }

    .\-pagination & {
      padding-left: 0;
      list-style: none;
      flex-direction: row;
      justify-content: center;
    }
  }

  &_item {
    margin-bottom: 0;
    padding-top: 0;

    .\-interior & {
      border-bottom: 1px solid $gray-200;
      font-size: $fs-sm;
    }

    .\-inline & {
      display: inline-flex;
    }

    .\-pagination & {
      border-bottom: 0 none;
      margin-right: 1px;
      margin-left: 1px;
    }
  }

  &_link {
    color: $gray-700;
    display: block;
    line-height: 1rem;
    padding: 1rem 0.5rem;
    position: relative;
    transition: background-color 0.15s ease;

    .\-inline & {
      padding: 0.5rem;
    }

    .\-underline &,
    .\-border & {
      padding: 1rem 1.5rem;
    }

    &[aria-current="true"],
    &[aria-selected="true"] {
      color: $black;
      font-weight: $type-bold;

      .\-underline & {
        border-bottom: 3px solid $red;
      }

      .\-border & {
        background: $white;
        border-color: $gray-200;
        border-style: solid;
        border-width: 1px 1px 0;
        font-weight: 400;
        margin-top: -1px;
        top: 1px;
      }
    }

    .nav_title & {
      @extend .tt-caps;
 
      display: inline-flex;
      flex: 1;
      align-items: center;
      color: inherit;
      font-size: $fs-xs;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;

      svg {
        margin-right: 0.5rem;
        flex: 0 0 auto;
        width: 1rem;
        height: 1rem;
      }
    }

    &:hover {
      background-color: rgba($gray-200, 0.3);
      color: inherit;
      text-decoration: none;
    }

    .\-pagination & {
      display: block;
      width: 1.75rem;
      height: 1.75rem;
      line-height: 1.75rem;
      background: none;
      text-align: center;
      font-size: 0.875rem;
      color: $type-color;
      border-radius: 2rem;
      padding: 0;
      border: 0 none;
      font-weight: initial;

      &:hover { background-color: rgba(0, 0, 0, 0.1); }

      &.\-active,
      &.\-active:hover {
        background-color: $type-color;
        color: #fff;
        cursor: default;
      }

      .feather {
        margin-top: 1px;
        stroke-width: 1;

        @include mqbp-up(t) {
          margin-top: 2px;
        }

        @include mqbp-up(w) {
          margin-top: 3px;
        }
      }
    }
  }

  &_title {
    display: flex;
    flex: 1;

    &[aria-current="true"] {
      display: none;

      +.nav_item { border-top: 1px solid $gray-200; }
    }
  }

  &_sublist {
    @extend .nav_list;
    padding-top: 0;

    @include mqbp-up(t) {
      display: none;

      [aria-current="true"] + & {
        display: flex;
      }
    }
  }

  &_subitem {
    padding-left: 0;
  }

  &_sublink {
    @extend .nav_link;
    padding: 0.4rem 0.75rem 0.4rem 1.5rem;

    position: relative;

    &::before {
      background-color: rgba($gray-900, 0.3);
      content: "";
      display: block;
      height: 1px;
      left: 0.5rem;
      position: absolute;
      top: 0.9rem;
      width: 10px;
    }
  }
}
