//
// Navs
//

.nav {
  .__list {
    padding-left: 0;
list-style: none;
    display: flex;
    flex-direction: column;
  }

  .__link {
    position: relative;
    display: block;
    padding: 1rem 0.5rem;
    line-height: 1rem;
    color: $gray;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: rgba($gray-200, 0.3);
      text-decoration: none;
      color: inherit;
    }
  }

  .__item {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding-top: 0;

    .__list {
      padding: 0;

      .__link {
        padding: 0.4rem 0.75rem 0.4rem 1.5rem;
        border-bottom: none;
        // font-size: $fs-sm;
        color: $gray-500;
      }

      .\--active > .__link {
        font-weight: 700;
        color: $gray-900;
      }
    }
  }


  .\--active {
    > .__link {
      font-weight: 700;
      color: $gray-900;
      cursor: default;

      &:hover {
        background-color: inherit;
      }
    }
  }


  //
  // On-page/interior nav menus

  &.\--interior {
    .__list {
      margin-bottom: 0;
      visibility: hidden;
      height: 0;
      transition: all 0.05s ease-in;
    }

    .__item {
      font-size: $fs-sm;
      .__list { margin-bottom: 0.5rem; }

      .__item {
        border-bottom: 0 none;
        font-size: ($fs-sm * 0.9);
      }
    }

    @include mqbp-up(md) {
      border-top: 1px solid $gray-200;

      .__list {
        visibility: visible;
        height: 100%;

        .__list {
          .__link {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              display: block;
              width: 10px;
              height: 1px;
              background-color: rgba($gray-900, 0.3);
              top: 0.9rem;
              left: 0.5rem;
            }
          }

          .\--active .__link {
            &::before {
              background-color: rgba($gray-900, 0.8);
            }
          }
        }
      }

      &.collapse { display: flex; }
    }
  }

  //
  // Tabs

  &.\--tabbed {
    .__list { margin-bottom: 0; }

    .__link {
      white-space: nowrap;

      &:hover { background: $gray-100; }

      &.\--active,
      &.\--active:hover {
        color: inherit;
        background: none !important;
        font-weight: 700;
        cursor: default;
      }
    }

    @include mqbp-up(lg) {
      .__list { flex-direction: row; }

      .__link {
        padding: 1rem 1.5rem;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.25s ease;
      }

      .__item {
        border-bottom: 0 none;

        .\--active,
        .\--active:hover {
          border-left: 0 none;
          border-bottom: 3px solid $gray;
        }
      }
    }
  }

  &.\--bordered {
    @include mqbp-up(lg) {
      .__list { border-bottom: 1px solid $gray-200; }

      .__item { margin-bottom: -2px; }

      .__link {
        @include border_top_radius(1px);
        border: 1px solid transparent;
        border-bottom: 1px solid $gray-200;
        font-size: $fs-sm;
        transition: all 0.2s ease;
        margin-bottom: 1px;

        &:hover { background-color: rgba(0, 0, 0, 0.1); }

        &.\--active,
        &.\--active:hover {
          border: 1px solid #d0d0d0;
          border-bottom-color: #fff;
        }
      }
    }
  }

  &.\--buttons {
    .__item {
      margin-bottom: -1px;
      border-bottom: 0 none;
      &:last-child { margin-bottom: 0; }

      @include mqbp-up(lg) {
        margin-bottom: 0;
        margin-right: 1rem;
        &:last-child { margin-right: 0; }
      }
    }

    .__link {
      color: $gray-700;
      border: 1px solid $gray-200;
      padding: 1rem;
      position: relative;

      @include mqbp-up(lg) {
        padding: 8px 1rem;

        &.\--active,
        &.\--active:hover {
          border: 1px solid $gray-400;
        }
      }
    }
  }


  // pagination

  &.\--pagination {

    .__list {
      padding-left: 0;
      list-style: none;
      flex-direction: row;
      justify-content: center;
    }

    .__item { border-bottom: 0 none; }

    .__link {
      display: block;
      width: 1.75rem;
      height: 1.75rem;
      line-height: 1.75rem;
      background: none;
      text-align: center;
      font-size: 0.875rem;
      color: $type-color;
      border-radius: 2rem;
      padding: 0;
      border: 0 none;
      font-weight: initial;

      &:hover { background: rgba(0, 0, 0, 0.1); }

      &.\--active,
      &.\--active:hover {
        background: $type-color;
        color: #fff;
        cursor: default;
      }
    }
  }

  @include mqbp-up(md) {
    .__list {
      visibility: visible;
      background: transparent;
      height: auto;
    }
  }
}

.tabcontent {
  padding: 1rem 1.5rem;
  border: 1px solid $gray-200;
  border-top: 0 none;
}

.hidden {
  &.\--active { display: block !important; }
}

.nav--open {
  .nav.\--interior {
    .__list {
      visibility: visible;
      height: 100%;
    }
  }
}

.nav__toggler {
  &:focus,
  &:active {
    outline: none;
    background: initial;
  }
}
