// Components
// Section
//


.section {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  @include make-section();
}

.full .section { @include make-section('full'); }
.contain .section { @include make-section('contain', $contain: $contain-width); }

.section .section {
  padding: 0;
  overflow-x: hidden; // prevent longer words on xs from forcing an x-axis scroll

  .row:last-child {
    .col { margin-bottom: 0; }
  }
}

.section.\--flush {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

// Remove the negative margin from a section's default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.section.\--nogutters {
  > .row {
    margin-right: 0;
    margin-left: 0;

    > .col {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

// Banners
.section.\--banner {
  @extend .fs--smooth;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  margin-bottom: 1rem;

  .__body {
    flex: 1;
    width: 100%;
  }

  .__pretitle { margin-bottom: 0.25rem; }

  .__title {
    @include type-d5();
    margin-bottom: 0.25rem;
    font-weight: $type-light;
  }

  .__subtitle { @include type-lead(); }

  &.\--top { align-items: flex-start; }
  &.\--bottom { align-items: flex-end; }

  @include mqbp-up(d) { flex-direction: row; }

  &.\+nav {
    flex: 0;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5rem;

    .__body { flex: 0; }

    &.\--top { justify-content: flex-start; }
    &.\--bottom { justify-content: flex-end; }

    @include mqbp-up(d) {
      padding-bottom: 4.5rem;
    }
  }
}

.section.\--hero {
  @extend .\--banner;
  padding-top: 10.6rem;
  padding-bottom: 10.6rem;
}