/**
 * Accordions
 */
@mixin k_accordion_variant($color: $type-color, $background: $palette-gray-100, $trigger: lighten($type-color,70%), $chevron: $type-color) {
  background: $background;
  color: $color;
  .txt_title {
    background: $trigger;

    &:after {
      color: $chevron;
    }
  }
}