//
// Alert mixins
//

//
// Alert Variant
@mixin k_alert_variant($color, $background, $border: transparent, $add_shadow: false) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @if ($add_shadow == false) {
    box-shadow: none;
  }

  .alert__link:hover { background-color: darken($background, 10%); }
}
