//
// Banner mixins
//

//
// Banner Variant
@mixin k_banner_variant($color, $background) {
  color: $color;
  background-color: $background;
}

//
// Banner Sizing
@mixin k_banner_sizing($padding) {
  padding: $padding 0;
  &.banner--top {
    padding-top: 1.5%;
    padding-bottom: $padding;
  }
  &.banner--bottom {
    padding-top: $padding;
    padding-bottom: 1.5%;
  }
}
