//
// Button mixins
//

//
// Button color variants
@mixin k_button_variant($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border-color: $border;

  @include k_hover {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:focus,
  &.focus {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
    // Remove the gradient for the pressed/active state
    background-image: none;
    // @include _box_shadow($btn-active-box-shadow);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
    @include k_hover {
      background-color: $background;
          border-color: $border;
    }
  }

  &.btn--outline {
    color: $background;
    background-color: transparent;
    border-color: $background;

    @include k_hover {
      color: #fff !important;
      background-color: $background !important;
          border-color: $background;
    }

    &:focus,
    &.focus {
      color: #fff;
      background-color: $background;
          border-color: $background;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
      color: #fff;
      background-color: $background;
          border-color: $background;

      &:hover,
      &:focus,
      &.focus {
        color: #fff;
        background-color: darken($background, 17%);
            border-color: darken($background, 25%);
      }
    }

    &.disabled,
    &:disabled {
      &:focus,
      &.focus {
        border-color: lighten($background, 20%);
      }
      @include k_hover {
        border-color: lighten($background, 20%);
      }
    }
  }
}

//
// Button sizing
@mixin k_button_size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  @include k_border_radius($border-radius);
}
