{
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "no-empty-source": null,
    "indentation": 2,
    "order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true,
    "font-family-no-missing-generic-family-keyword": null
  }
}
