//
// Color Utilities
//

// Set default .bg--<color> to blend appropriately
// with its background instead of a neutral gray.
// Declared once here, overwritten by $color-text
// argument in palette generator mixin.
[class^="bg--"] { color: rgba($black, 0.75); }


@include generate_colors('bg');
@include generate_colors('border');
@include generate_colors('text');


.btn.border--white {
  background-color: transparent;

  &:hover {
    background-color: rgba($white, 0.1) !important;
    color: $white;
  }
}
