//
// Spacing trumps
//
// Creates 1-10 options for margin, padding and offset (negative margin)

$spacing: (
  m: margin,
  p: padding,
  o: margin
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include k_media-breakpoint-up($breakpoint) {
    @each $selector, $property in $spacing {
      $size: 10;
      @while $size >= 0 { // loop through sizes
        $value: #{$size}rem;
        @if $selector != o { // if margin or padding
          .#{$selector}a--#{$size}\@#{$breakpoint} { #{$property}:         $value !important; }
          .#{$selector}t--#{$size}\@#{$breakpoint} { #{$property}-top:     $value !important; }
          .#{$selector}r--#{$size}\@#{$breakpoint} { #{$property}-right:   $value !important; }
          .#{$selector}b--#{$size}\@#{$breakpoint} { #{$property}-bottom:  $value !important; }
          .#{$selector}l--#{$size}\@#{$breakpoint} { #{$property}-left:    $value !important; }
          .#{$selector}x--#{$size}\@#{$breakpoint} {
            #{$property}-right:  $value !important;
            #{$property}-left:   $value !important;
          }
          .#{$selector}y--#{$size}\@#{$breakpoint} {
            #{$property}-top:    $value !important;
            #{$property}-bottom: $value !important;
          }

        } @else { // offset selector has negative margin
          .#{$selector}t--#{$size}\@#{$breakpoint} { #{$property}-top:     -#{$value} !important; z-index: 1; }
          .#{$selector}r--#{$size}\@#{$breakpoint} { #{$property}-right:   -#{$value} !important; z-index: 1; }
          .#{$selector}b--#{$size}\@#{$breakpoint} { #{$property}-bottom:  -#{$value} !important; z-index: 1; }
          .#{$selector}l--#{$size}\@#{$breakpoint} { #{$property}-left:    -#{$value} !important; z-index: 1; }
        }

        $size: $size - 1; // decrement size
      }
    }
  }
}
