//
// Typography trumps
//


// Sizing
.fs--xs { font-size: $fs-xs; }
.fs--sm { font-size: $fs-sm; }
.fs--root { font-size: $fs-root; }
.fs--d1 { font-size: $fs-d1; }
.fs--d2 { font-size: $fs-d2; }
.fs--d3 { font-size: $fs-d3; }
.fs--d4 { font-size: $fs-d4; }
.fs--d5 { font-size: $fs-d5; }
.fs--d6 { font-size: $fs-d6; }
.fs--d7 { font-size: $fs-d7; }

// Weight
.fw--100  { font-weight: 100; }
.fw--200  { font-weight: 200; }
.fw--300  { font-weight: 300; }
.fw--400  { font-weight: 400; }
.fw--500  { font-weight: 500; }
.fw--600  { font-weight: 600; }
.fw--700  { font-weight: 700; }
.fw--900  { font-weight: 900; }


// Alignment
.ta--l  { text-align: left !important; }
.ta--r  { text-align: right !important; }
.ta--c  { text-align: center !important; }

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media_breakpoint_up($breakpoint) {
    .ta--l\@#{$breakpoint}  { text-align: left !important; }
    .ta--r\@#{$breakpoint}  { text-align: right !important; }
    .ta--c\@#{$breakpoint}  { text-align: center !important; }
  }
}


// Text Transformation
.tt--l    { text-transform: lowercase !important; }
.tt--u    { text-transform: uppercase !important; }
.tt--c    { text-transform: capitalize !important; }
.tt--caps {
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}


// Section Headers
.section {
  > .__header {
    .__pretitle {
      @extend .tt--caps;
      margin-bottom: 0.25rem;
    }

    .__title {
      margin-bottom: 0.25rem;
      @include get_type($type-d5);
      font-weight: $type-light;
    }

    .__subtitle {
      @include get_type($type-d2);
      font-weight: $type-light;
    }
  }
}


//
// Tables

.th--sm th {
  @include get_type($type-xs);
  color: rgba($type-color, 0.65);
}
