//
// Background Utilities
//

//
// Background colors

// Set default .bg--<color> to blend appropriately
// with its background instead of a neutral gray.
// Declared once here, overwritten by $color-text
// argument in palette generator mixin.
[class^="bg--"] { color: rgba($black, 0.75); }

@include generate_colors('bg'); // run generator for background colors


//
// Background images

// tweak child typography for parents with bg image
.\+bgimg {
  @extend %bgimg;
  text-shadow: 0 0 .5rem rgba(#000, 0.25);
  color: #fff;

  &:after {
    @extend %component-cover;
    content: "";
    background: rgba(#000, 0.2);
    z-index: 0;
  }

  > * {
    @include font_smoothing();
    position: relative;
    z-index: 1;
  }

  .card { text-shadow: none; }
}

// background image positioning
.bg--lt { background-position: left top; }
.bg--l { background-position: left center; }
.bg--lb { background-position: left bottom; }
.bg--rt { background-position: right top; }
.bg--r { background-position: right center; }
.bg--rb { background-position: right bottom; }
.bg--top { background-position: center top; }
.bg--b { background-position: center bottom; }

.bg--fixed { background-attachment: fixed; }

.bg--none { background: none !important; }
