//
// Border and Corner Utilities
//

//
// Border Widths

// border width to zero
.bwa--0 { border-width: 0; }
.bwt--0 { border-top-width: 0; }
.bwr--0 { border-right-width: 0; }
.bwb--0 { border-bottom-width: 0; }
.bwl--0 { border-left-width: 0; }

// reset to 1px
.bwa--1 { border-width: 1px; }
.bwt--1 { border-top-width: 1px; }
.bwr--1 { border-right-width: 1px; }
.bwb--1 { border-bottom-width: 1px; }
.bwl--1 { border-left-width: 1px; }


//
// Border Radius

// set border radius by corner
.bra--1 { border-radius: $border_radius; }
.brtl--1 { border-radius-top-left: $border_radius; }
.brtr--1 { border-radius-top-right: $border_radius; }
.brbl--1 { border-radius-bottom-left: $border_radius; }
.brbr--1 { border-radius-bottom-right: $border_radius; }

// zero out border radius
.bra--0 { border-radius: 0 }
.brtl--0 { border-radius-top-left: 0; }
.brtr--0 { border-radius-top-right: 0; }
.brbl--0 { border-radius-bottom-left: 0; }
.brbr--0 { border-radius-bottom-right: 0; }

// turn an element into a circle
.br--round { border-radius: 1000px; }

//
// Border Colors

// generate border colors
@include generate_colors('bc');

// Declared after generator because hover state of
// .bc--<color> already has an !important
.btn.bc--white {
  background-color: transparent;

  &:hover {
    background-color: rgba($white, 0.1) !important;
    color: $white;
  }
}


//
// Shadows
// * Add or remove a shadow ad hoc

.shadow {
  @include box-shadow();
  background-color: #fff;
}

.shadow--none,
.shadow--none:hover { box-shadow: none; }
