//
// Image Utilities
//

.\+bgimg {
  @extend %bgimg;
  text-shadow: 0 0 .5rem rgba(#000, 0.25);
  color: #fff;

  &:after {
    @extend %component-cover;
    content: "";
    background: rgba(#000, 0.2);
    z-index: 0;
  }

  > * {
    @include font_smoothing();
    position: relative;
    z-index: 1;
  }

  .card { text-shadow: none; }
}

.\--bgfixed {
  position: relative;
  background-attachment: fixed;
}

.\--bgtop { background-position-y: top; }

.\--bgbottom { background-position-y: bottom; }
