//
// Positioning trumps
//

//
// Responsive floats

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    .f--l\@#{$breakpoint} {
      float: left !important;
    }

    .f--r\@#{$breakpoint} {
      float: right !important;
    }

    .f--n\@#{$breakpoint} {
      float: none !important;
    }
  }
}

//
// Responsive flex-direction

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    .flex--col\@#{$breakpoint} {
      flex-direction: column;
    }

    .flex--row\@#{$breakpoint} {
      flex-direction: row;
    }
  }
}


//
// Position

.pos--relative { position: relative !important; }

.pos--sticky {
  position: sticky;
  top: 1rem;
}


//
// Flexbox vertical positioning

.\+equal { height: 100%; } // siblings
.\+middle { align-items: center; } // parent to descendant
.\+bottom { align-items: flex-end; } // parent to descendant
.\+middle-self { align-self: center; } // child height to auto, then positions to parent
.\+bottom-self { align-self: flex-end; } // child height to auto, then positions to parent
