//
// Spacing trumps
// * Creates 1-10 options for margin, padding and offset (negative margin)


$spacing: (
  m: margin,
  p: padding,
  o: margin
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    @each $selector, $property in $spacing {
      $size: 20;

      @while $size >= 0 { // loop through sizes

        @if $selector != o { // if margin or padding
          .#{$selector}a--#{$size}\@#{$breakpoint} { #{$property}:         #{$size}rem !important; }
          .#{$selector}a--#{$size}h\@#{$breakpoint} { #{$property}:        #{($size+.5)}rem !important; }
          .#{$selector}t--#{$size}\@#{$breakpoint} { #{$property}-top:     #{$size}rem !important; }
          .#{$selector}t--#{$size}h\@#{$breakpoint} { #{$property}-top:        #{($size+.5)}rem !important; }
          .#{$selector}r--#{$size}\@#{$breakpoint} { #{$property}-right:   #{$size}rem !important; }
          .#{$selector}r--#{$size}h\@#{$breakpoint} { #{$property}-right:        #{($size+.5)}rem !important; }
          .#{$selector}b--#{$size}\@#{$breakpoint} { #{$property}-bottom:  #{$size}rem !important; }
          .#{$selector}b--#{$size}h\@#{$breakpoint} { #{$property}-bottom:        #{($size+.5)}rem !important; }
          .#{$selector}l--#{$size}\@#{$breakpoint} { #{$property}-left:    #{$size}rem !important; }
          .#{$selector}l--#{$size}h\@#{$breakpoint} { #{$property}-left:        #{($size+.5)}rem !important; }
          .#{$selector}x--#{$size}\@#{$breakpoint} {
            #{$property}-right:  #{$size}rem !important;
            #{$property}-left:   #{$size}rem !important;
          }
          .#{$selector}x--#{$size}h\@#{$breakpoint} {
            #{$property}-right:  #{($size+.5)}rem !important;
            #{$property}-left:   #{($size+.5)}rem !important;
          }
          .#{$selector}y--#{$size}\@#{$breakpoint} {
            #{$property}-top:    #{$size}rem !important;
            #{$property}-bottom: #{$size}rem !important;
          }
          .#{$selector}y--#{$size}h\@#{$breakpoint} {
            #{$property}-top:    #{($size+.5)}rem !important;
            #{$property}-bottom: #{($size+.5)}rem !important;
          }

        } @else { // offset selector has negative margin
          .#{$selector}t--#{$size}\@#{$breakpoint} {
            #{$property}-top: -#{$size}rem !important;
            z-index: 1;
          }
          .#{$selector}r--#{$size}\@#{$breakpoint} {
            #{$property}-right: -#{$size}rem !important;
            z-index: 1;
          }
          .#{$selector}b--#{$size}\@#{$breakpoint} {
            #{$property}-bottom: -#{$size}rem !important;
            z-index: 1;
          }
          .#{$selector}l--#{$size}\@#{$breakpoint} {
            #{$property}-left: -#{$size}rem !important;
            z-index: 1;
          }
        }

        $size: $size - 1; // decrement size
      }
    }
  }
}
