// Borders Utility
// After-Line
//
// .bal


.bal {
  margin-bottom: 1.875rem !important;
  position: relative;

  &::after {
    border-bottom: 2px solid $red;
    bottom: -1rem;
    content: '';
    left: 0;
    position: absolute;
    width: $afterline-width;
  }
}

.\-center {
  .bal {
    &::after {
      margin: 0 auto;
      right: 0;
    }
  }
}

// testing: line;

[class^="line-"],
[class*=" line-"] {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: $gray;
  }

  &[class*="-red"] {
    &::after { background-color: $red; }
  }

  &[class*="-black"] {
    &::after { background-color: $black; }
  }

  &[class*="-gold"] {
    &::after { background-color: $gold; }
  }

  &[class*="-gold-beige"] {
    &::after { background: linear-gradient(135deg, $gold 0%, $beige 100%); }
  }

  &[class*="-red-orange"] {
    &::after { background: linear-gradient(135deg, $red 0%, $orange 100%); }
  }
}

[class^="line-b"],
[class*=" line-b"],
[class^="line-t"],
[class*=" line-t"] {
  &::after {
    left: 0;
    width: 100%;
    height: 4px;
  }

  &[class$="-sm"] {
    &::after {
      width: 6rem;
      height: 2px;
    }
  }
}

[class^="line-l"],
[class*=" line-l"],
[class^="line-r"],
[class*=" line-r"] {
  &::after {
    top: 0;
    width: 4px;
    height: 100%;
  }
}

[class^="line-b"],
[class*=" line-b"] {
  margin-bottom: ($gutter / 2);

  &::after {
    bottom: -($gutter / 2);
  }
}

[class^="line-l"],
[class*=" line-l"] {
  margin-left: ($gutter / 2);
  margin-right: -($gutter / 2);

  &.col {
    margin-left: ($gutter * 0.75);
    margin-right: -($gutter * 0.75);
    padding-left: 0;
    padding-right: $gutter;
  }

  &::after {
    left: -($gutter / 2);
  }

  @include mqbp-up(t) {
    margin-left: 0;
    margin-right: 0;

    &.col {
      margin-left: ($gutter / 2);
      margin-right: -($gutter / 2);
    }
  }
}

[class^="line-r"],
[class*=" line-r"] {
  &::after {
    right: -($gutter / 2);
  }
}

[class^="line-t"],
[class*=" line-t"] {
  margin-top: ($gutter / 2);

  &::after {
    top: -($gutter / 2);
  }
}
