// Borders Utility
// After-Line
//
// .bal


.bal {
  margin-bottom: 1.875rem !important;
  position: relative;

  &::after {
    border-bottom: 2px solid $red;
    bottom: -1rem;
    content: '';
    left: 0;
    position: absolute;
    width: $afterline-width;
  }
}

.\-center {
  .bal {
    &::after {
      margin: 0 auto;
      right: 0;
    }
  }
}
