// Layout Utility
// Position
//
// .pos-<value>


.pos-static    { position: static !important; }
.pos-fixed     { position: fixed !important; }
.pos-absolute  { position: absolute !important; }
.pos-relative  { position: relative !important; }
.pos-sticky    {
  position: sticky !important;
  top: 1rem;
}

// --
// Pin positioning

.pin {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.pin-none {
  bottom: auto;
  height: auto;
  left: auto;
  right: auto;
  top: auto;
  width: auto;
}

.pin-t { top: 0; }
.pin-r { right: 0; }
.pin-b { bottom: 0; }
.pin-l { left: 0; }

// center an item within container
.pin-c {
  bottom: auto;
  left: 50%;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pin-x {
  left: 0;
  right: 0;
}

.pin-xc {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.pin-y {
  bottom: 0;
  top: 0;
}

.pin-yc {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}
