//
// Colors 2017+
//

$black-alpha: rgba(0, 0, 0, 0.7);

.color-cell {
  margin: 0 0 1.5rem !important;

  > div {
    height: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.825rem;
    font-size: 0.825rem;
    font-weight: 900;
    color: #fff;
    line-height: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include k_media_breakpoint_up(sm) {
      font-size: 0.75rem;
    }

    @include k_media_breakpoint_up(md) {
      font-size: 0.825rem;

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .hex-color {
    font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;
    font-weight: 300;
  }
}

.bg-black         { background-color: $black; }

.bg-gray          { background-color: $gray; }
.bg-gray--dark    { background-color: $gray-dark; }
.bg-gray--light   { background-color: $gray-light; }

.bg-red           { background-color: $red; }
.bg-red--dark     { background-color: $red-dark; }
.bg-red--light    { background-color: $red-light; }

.bg-blue          { background-color: $blue; }
.bg-blue--dark    { background-color: $blue-dark; }
.bg-blue--light   { background-color: $blue-light; color: $black-alpha !important; }

.bg-teal          { background-color: $teal; }
.bg-teal--dark    { background-color: $teal-dark; }
.bg-teal--light   { background-color: $teal-light; color: $black-alpha !important; }

.bg-green         { background-color: $green; color: $black-alpha !important; }
.bg-green--dark   { background-color: $green-dark; }
.bg-green--light  { background-color: $green-light; color: $black-alpha !important; }

.bg-purple        { background-color: $purple; }
.bg-purple--dark  { background-color: $purple-dark; }
.bg-purple--light { background-color: $purple-light; color: $black-alpha !important; }

.bg-orange        { background-color: $orange; }
.bg-orange--dark  { background-color: $orange-dark; }
.bg-orange--light { background-color: $orange-light; color: $black-alpha !important; }

.bg-yellow        { background-color: $yellow; color: $black-alpha !important; }
.bg-yellow--dark  { background-color: $yellow-dark; color: $black-alpha !important; }
.bg-yellow--light { background-color: $yellow-light; color: $black-alpha !important; }

.bg-beige         { background-color: $beige; color: $black-alpha !important; }
.bg-beige--dark   { background-color: $beige-dark; }
.bg-beige--light  { background-color: $beige-light; color: $black-alpha !important; }

.bg-gray--100      { background-color: #efefef; color: $black-alpha !important; }
.bg-gray--200      { background-color: #d0d0d0; color: $black-alpha !important; }
.bg-gray--300      { background-color: #b5b5b5; color: $black-alpha !important; }
.bg-gray--400      { background-color: #969696; }
.bg-gray--500      { background-color: #797979; }
.bg-gray--600      { background-color: #666666; }
.bg-gray--700      { background-color: #535353; }
.bg-gray--800      { background-color: #333333; }
.bg-gray--900      { background-color: #1a1a1a; }

.bg-gray--100,
.bg-gray--200,
.bg-gray--300,
.bg-gray--400,
.bg-gray--500,
.bg-gray--600,
.bg-gray--700,
.bg-gray--800,
.bg-gray--900 {
  text-align: center;

  &.\--1\@lg {
    @include k_media_breakpoint_up(lg) {
      max-width: 11.1111% !important;
      flex-basis: 11.1111%;
    }
  }
}
