// Spacing Utility
// Margin
//
// .m<side>-<value>


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

$size: 20;

// Non-breakpoint loop
@for $i from 0 through $size {
  .ma-#{$i}   { margin: #{$i}rem !important; }
  .ma-#{$i}h  { margin: #{($i+.5)}rem !important; }
  .mt-#{$i}   { margin-top: #{$i}rem !important; }
  .mt-#{$i}h  { margin-top: #{($i+.5)}rem !important; }
  .mr-#{$i}   { margin-right: #{$i}rem !important; }
  .mr-#{$i}h  { margin-right: #{($i+.5)}rem !important; }
  .mb-#{$i}   { margin-bottom: #{$i}rem !important; }
  .mb-#{$i}h  { margin-bottom: #{($i+.5)}rem !important; }
  .ml-#{$i}   { margin-left: #{$i}rem !important; }
  .ml-#{$i}h  { margin-left: #{($i+.5)}rem !important; }
  .mx-#{$i} {
    margin-left:   #{$i}rem !important;
    margin-right:  #{$i}rem !important;
  }
  .mx-#{$i}h {
    margin-left:   #{($i+.5)}rem !important;
    margin-right:  #{($i+.5)}rem !important;
  }
  .my-#{$i} {
    margin-bottom: #{$i}rem !important;
    margin-top:    #{$i}rem !important;
  }
  .my-#{$i}h {
    margin-bottom: #{($i+.5)}rem !important;
    margin-top:    #{($i+.5)}rem !important;
  }
}

// Breakpoint loops
@each $breakpoint in map-keys($breakpoints) {
  @for $i from 0 through $size {
    @include mqbp-up($breakpoint) {
      .ma-#{$i}\@#{$breakpoint}   { margin: #{$i}rem !important; }
      .ma-#{$i}h\@#{$breakpoint}  { margin: #{($i+.5)}rem !important; }
      .mt-#{$i}\@#{$breakpoint}   { margin-top: #{$i}rem !important; }
      .mt-#{$i}h\@#{$breakpoint}  { margin-top: #{($i+.5)}rem !important; }
      .mr-#{$i}\@#{$breakpoint}   { margin-right: #{$i}rem !important; }
      .mr-#{$i}h\@#{$breakpoint}  { margin-right: #{($i+.5)}rem !important; }
      .mb-#{$i}\@#{$breakpoint}   { margin-bottom: #{$i}rem !important; }
      .mb-#{$i}h\@#{$breakpoint}  { margin-bottom: #{($i+.5)}rem !important; }
      .ml-#{$i}\@#{$breakpoint}   { margin-left: #{$i}rem !important; }
      .ml-#{$i}h\@#{$breakpoint}  { margin-left: #{($i+.5)}rem !important; }
      .mx-#{$i}\@#{$breakpoint} {
        margin-left:   #{$i}rem !important;
        margin-right:  #{$i}rem !important;
      }
      .mx-#{$i}h\@#{$breakpoint} {
        margin-left:   #{($i+.5)}rem !important;
        margin-right:  #{($i+.5)}rem !important;
      }
      .my-#{$i}\@#{$breakpoint} {
        margin-bottom: #{$i}rem !important;
        margin-top:    #{$i}rem !important;
      }
      .my-#{$i}h\@#{$breakpoint} {
        margin-bottom: #{($i+.5)}rem !important;
        margin-top:    #{($i+.5)}rem !important;
      }
    }
  }
}
