// Spacing Utility
// Negative margin
//
// .o-<value>


$size: 20;

// Non-breakpoint loop
@for $i from 0 through $size {
  .oa-#{$i}   { margin: -#{$i}rem !important; }
  .oa-#{$i}h  { margin: -#{($i+.5)}rem !important; }
  .ot-#{$i}   { margin-top: -#{$i}rem !important; }
  .ot-#{$i}h  { margin-top: -#{($i+.5)}rem !important; }
  .or-#{$i}   { margin-right: -#{$i}rem !important; }
  .or-#{$i}h  { margin-right: -#{($i+.5)}rem !important; }
  .ob-#{$i}   { margin-bottom: -#{$i}rem !important; }
  .ob-#{$i}h  { margin-bottom: -#{($i+.5)}rem !important; }
  .ol-#{$i}   { margin-left: -#{$i}rem !important; }
  .ol-#{$i}h  { margin-left: -#{($i+.5)}rem !important; }
  .ox-#{$i} {
    margin-left: -#{$i}rem !important;
    margin-right: -#{$i}rem !important;
  }
  .ox-#{$i}h {
    margin-left: -#{($i+.5)}rem !important;
    margin-right: -#{($i+.5)}rem !important;
  }
  .oy-#{$i} {
    margin-bottom: -#{$i}rem !important;
    margin-top: -#{$i}rem !important;
  }
  .oy-#{$i}h {
    margin-bottom: -#{($i+.5)}rem !important;
    margin-top: -#{($i+.5)}rem !important;
  }
}

// Breakpoint loops
@each $breakpoint in map-keys($breakpoints) {
  @for $i from 0 through $size {
    @include mqbp-up($breakpoint) {
      .oa-#{$i}\@#{$breakpoint}   { margin: -#{$i}rem !important; }
      .oa-#{$i}h\@#{$breakpoint}  { margin: -#{($i+.5)}rem !important; }
      .ot-#{$i}\@#{$breakpoint}   { margin-top: -#{$i}rem !important; }
      .ot-#{$i}h\@#{$breakpoint}  { margin-top: -#{($i+.5)}rem !important; }
      .or-#{$i}\@#{$breakpoint}   { margin-right: -#{$i}rem !important; }
      .or-#{$i}h\@#{$breakpoint}  { margin-right: -#{($i+.5)}rem !important; }
      .ob-#{$i}\@#{$breakpoint}   { margin-bottom: -#{$i}rem !important; }
      .ob-#{$i}h\@#{$breakpoint}  { margin-bottom: -#{($i+.5)}rem !important; }
      .ol-#{$i}\@#{$breakpoint}   { margin-left: -#{$i}rem !important; }
      .ol-#{$i}h\@#{$breakpoint}  { margin-left: -#{($i+.5)}rem !important; }
      .ox-#{$i}\@#{$breakpoint} {
        margin-left:   -#{$i}rem !important;
        margin-right:  -#{$i}rem !important;
      }
      .ox-#{$i}h\@#{$breakpoint} {
        margin-left:   -#{($i+.5)}rem !important;
        margin-right:  -#{($i+.5)}rem !important;
      }
      .oy-#{$i}\@#{$breakpoint} {
        margin-bottom: -#{$i}rem !important;
        margin-top:    -#{$i}rem !important;
      }
      .oy-#{$i}h\@#{$breakpoint} {
        margin-bottom: -#{($i+.5)}rem !important;
        margin-top:    -#{($i+.5)}rem !important;
      }
    }
  }
}
