// Spacing Utility
// Padding
//
// .p<side>-<value>


$size: 20;

// Non-breakpoint loop
@for $i from 0 through $size {
  .pa-#{$i}   { padding: #{$i}rem !important; }
  .pa-#{$i}h  { padding: #{($i+.5)}rem !important; }
  .pt-#{$i}   { padding-top: #{$i}rem !important; }
  .pt-#{$i}h  { padding-top: #{($i+.5)}rem !important; }
  .pr-#{$i}   { padding-right: #{$i}rem !important; }
  .pr-#{$i}h  { padding-right: #{($i+.5)}rem !important; }
  .pb-#{$i}   { padding-bottom: #{$i}rem !important; }
  .pb-#{$i}h  { padding-bottom: #{($i+.5)}rem !important; }
  .pl-#{$i}   { padding-left: #{$i}rem !important; }
  .pl-#{$i}h  { padding-left: #{($i+.5)}rem !important; }
  .px-#{$i} {
    padding-left:   #{$i}rem !important;
    padding-right:  #{$i}rem !important;
  }
  .px-#{$i}h {
    padding-left:   #{($i+.5)}rem !important;
    padding-right:  #{($i+.5)}rem !important;
  }
  .py-#{$i} {
    padding-bottom: #{$i}rem !important;
    padding-top:    #{$i}rem !important;
  }
  .py-#{$i}h {
    padding-bottom: #{($i+.5)}rem !important;
    padding-top:    #{($i+.5)}rem !important;
  }
}

// Breakpoint loops
@each $breakpoint in map-keys($breakpoints) {
  @for $i from 0 through $size {
    @include mqbp-up($breakpoint) {
      .pa-#{$i}\@#{$breakpoint}   { padding: #{$i}rem !important; }
      .pa-#{$i}h\@#{$breakpoint}  { padding: #{($i+.5)}rem !important; }
      .pt-#{$i}\@#{$breakpoint}   { padding-top: #{$i}rem !important; }
      .pt-#{$i}h\@#{$breakpoint}  { padding-top: #{($i+.5)}rem !important; }
      .pr-#{$i}\@#{$breakpoint}   { padding-right: #{$i}rem !important; }
      .pr-#{$i}h\@#{$breakpoint}  { padding-right: #{($i+.5)}rem !important; }
      .pb-#{$i}\@#{$breakpoint}   { padding-bottom: #{$i}rem !important; }
      .pb-#{$i}h\@#{$breakpoint}  { padding-bottom: #{($i+.5)}rem !important; }
      .pl-#{$i}\@#{$breakpoint}   { padding-left: #{$i}rem !important; }
      .pl-#{$i}h\@#{$breakpoint}  { padding-left: #{($i+.5)}rem !important; }
      .px-#{$i}\@#{$breakpoint} {
        padding-left:   #{$i}rem !important;
        padding-right:  #{$i}rem !important;
      }
      .px-#{$i}h\@#{$breakpoint} {
        padding-left:   #{($i+.5)}rem !important;
        padding-right:  #{($i+.5)}rem !important;
      }
      .py-#{$i}\@#{$breakpoint} {
        padding-bottom: #{$i}rem !important;
        padding-top:    #{$i}rem !important;
      }
      .py-#{$i}h\@#{$breakpoint} {
        padding-bottom: #{($i+.5)}rem !important;
        padding-top:    #{($i+.5)}rem !important;
      }
    }
  }
}
