// NU Marketing Elements
// Global Header & Footer


// PODS overrides
div#nu__globalheader {
  @include make-section();

  line-height: 28px;
  margin: 0;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: static;
  width: 100%;
  z-index: $z-max;

  .section_full & { @include make-section('full'); }
  .section_contain & { @include make-section('contain', $contain: $contain-width); }
}

div#nu__global-footer {
  @include make-section();

  .section_full & { @include make-section('full'); }
  .section_contain & {
    @include make-section('contain', $contain: $contain-width);

    > div.nu__footer > div { width: 100% !important; }
  }
}

div#nu__supernav {
  z-index: $z-4;
}

#nu__utility-nav {
  width: 100% !important;

  > a {
    display: inline-block;
    height: 44px;
    overflow: hidden;

    > img { height: 44px; }
  }
}
