// Backgrounds Utility
// Color
//
// .bg-<color>


@include make_colors('bg');

.bg-none {
  background: none !important;
  background-color: transparent !important;
}

.bg- {
  &red-orange {
    background: linear-gradient(to right, $red 0%, $orange 100%);
  }

  &orange-gray-warm-light {
    background: linear-gradient(to right, $orange 0%, $gray-warm-light 100%);
  }

  &gray-warm-light-red {
    background: linear-gradient(to right, $gray-warm-light 0%, $red 100%);
  }

  &red-yellow {
    background: linear-gradient(to right, $red 0%, $yellow 100%);
  }

  &yellow-orange {
    background: linear-gradient(to right, $yellow 0%, $orange 100%);
  }

  &green-yellow {
    background: linear-gradient(to right, $green 0%, $yellow 100%);
  }

  &blue-teal {
    background: linear-gradient(to right, $blue 0%, $teal 100%);
  }

  &blue-light-blue-dark {
    background: linear-gradient(to right, $blue-light 0%, $blue-dark 100%);
  }

  &blue-dark-teal {
    background: linear-gradient(to right, $blue-dark 0%, $teal 100%);
  }

  &teal-green {
    background: linear-gradient(to right, $teal 0%, $green 100%);
  }

  &blue-green {
    background: linear-gradient(to right, $blue 0%, $green 100%);
  }

  &blue-light-blue {
    background: linear-gradient(to right, $blue-light 0%, $blue 100%);
  }

  &blue-gray-cool {
    background: linear-gradient(to right, $blue 0%, $gray-cool 100%);
  }

  &blue-dark-gray-warm {
    background: linear-gradient(to right, $blue-dark 0%, $gray-warm 100%);
  }

  &blue-gray-warm {
    background: linear-gradient(to right, $blue 0%, $gray-warm 100%);
  }

  &blue-dark-gray-warm {
    background: linear-gradient(to right, $blue-dark 0%, $gray-warm 100%);
  }

  &gray-cool-blue-dark {
    background: linear-gradient(to right, $gray-cool 0%, $blue-dark 100%);
  }

  &gold-gray-warm-light {
    background: linear-gradient(to right, $gold 0%, $gray-warm-light 100%);
  }

  &red-blue {
    background: linear-gradient(to right, $red 0%, $blue 100%);
  }

  &blue-orange {
    background: linear-gradient(to right, $blue 0%, $orange 100%);
  }

  &blue-light-yellow {
    background: linear-gradient(to right, $blue-light 0%, $yellow 100%);
  }

  &yellow-blue {
    background: linear-gradient(to right, $yellow 0%, $blue 100%);
  }

}