// Misc Utility
// Box Shadow
//
// .bs--<value>


.bs { box-shadow: $box-shadow; }
.bs--md { box-shadow: $box-shadow-md; }
.bs--lg { box-shadow: $box-shadow-lg; }
.bs--inset { box-shadow: $box-shadow-inset }
.bs--none { box-shadow: none; }
