// Misc Utility
// Accessibility
//


.sr,
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip {
  background-color: #c00;
  border: 0 none;
  color: #fff;
  font-weight: 700;
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  text-decoration: none;
  top: -100px;
  width: 100%;

  &:focus,
  &:active {
    display: block;
    height: auto;
    outline: none;
    overflow: visible;
    padding: 1rem;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 5000;
  }
}
