// Misc Utility
// Box Shadow
//
// .bs-<value>


.bs {
  box-shadow: $box-shadow;

  &.btn:hover { box-shadow: $box-shadow-lg; }
}

.bs-sm { box-shadow: $box-shadow-sm; }
.bs-lg { box-shadow: $box-shadow-lg; }
.bs-xl { box-shadow: $box-shadow-xl; }

.bs-inset { box-shadow: $box-shadow-inset; }

.bs-none { box-shadow: none !important; }
