// Misc Utility
// States
//
// .<state>:<selector>-<value>


.hover\: {
    &tc-blue {
        &:hover { color: $blue; }
    }
}

.group-hover\: {
    .group:hover & {
        &tc-blue {
            color: $blue;
        }

        &bc-red {
            border-color: $red !important;
        }
    }
}
