// Misc Utility
// States
//
// .<state>:<selector>-<value>


// tools
$nudge: 0.5rem;
$nudge-sm: 0.25rem;
$nudge-lg: 1rem;

@keyframes spin {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(180deg) scale(0.85); }
    100% { transform: rotate(359deg) scale(1); }
}

// scale
.group-hover\: {
    &scale {
        .group & { transition: transform $transition; }
        .group:hover & { transform: scale(1.1); }

        &-sm {
            .group & { transition: transform $transition; }
            .group:hover & { transform: scale(1.05); }
        }

        &-lg {
            .group & { transition: transform $transition; }
            .group:hover & { transform: scale(1.2); }
        }
    }

    // nudge
    &nudge {
        &-t {
            .group & { transition: margin-top $transition; }
            .group:hover & { margin-top: $nudge; }

            &-sm {
                .group & { transition: margin-top $transition; }
                .group:hover & { margin-top: $nudge-sm; }
            }

            &-lg {
                .group & { transition: margin-top $transition; }
                .group:hover & { margin-top: $nudge-lg; }
            }
        }

        &-r {
            .group & { transition: margin-right $transition; }
            .group:hover & { margin-right: $nudge; }

            &-sm {
                .group & { transition: margin-right $transition; }
                .group:hover & { margin-right: $nudge-sm; }
            }

            &-lg {
                .group & { transition: margin-right $transition; }
                .group:hover & { margin-right: $nudge-lg; }
            }
        }

        &-b {
            .group & { transition: margin-bottom $transition; }
            .group:hover & { margin-bottom: $nudge; }

            &-sm {
                .group & { transition: margin-bottom $transition; }
                .group:hover & { margin-bottom: $nudge-sm; }
            }

            &-lg {
                .group & { transition: margin-bottom $transition; }
                .group:hover & { margin-bottom: $nudge-lg; }
            }
        }

        &-l {
            .group & { transition: margin-left $transition; }
            &:hover { margin-left: $nudge; }

            &-sm {
                .group & { transition: margin-left $transition; }
                .group:hover & { margin-left: $nudge-sm; }
            }

            &-lg {
                .group & { transition: margin-left $transition; }
                .group:hover & { margin-left: $nudge-lg; }
            }
        }
    }

    // spin
    &spin {
        .group:hover & {
            animation: spin 2s infinite linear;
        }
    }
}

.hover\: {
    &scale {
        transition: transform $transition;
        &:hover { transform: scale(1.1); }

        &-sm {
            transition: transform $transition;
            &:hover { transform: scale(1.05); }
        }

        &-lg {
            transition: transform $transition;
            &:hover { transform: scale(1.2); }
        }
    }

    // nudge
    &nudge {
        &-t {
            transition: margin-top $transition;
            &:hover { margin-top: $nudge; }

            &-sm {
                transition: margin-top $transition;
                &:hover { margin-top: $nudge-sm; }
            }

            &-lg {
                transition: margin-top $transition;
                &:hover { margin-top: $nudge-lg; }
            }
        }

        &-r {
            transition: margin-right $transition;
            &:hover { margin-right: $nudge; }

            &-sm {
                transition: margin-right $transition;
                &:hover { margin-right: $nudge-sm; }
            }

            &-lg {
                transition: margin-right $transition;
                &:hover { margin-right: $nudge-lg; }
            }
        }

        &-b {
            transition: margin-bottom $transition;
            &:hover { margin-bottom: $nudge; }

            &-sm {
                transition: margin-bottom $transition;
                &:hover { margin-bottom: $nudge-sm; }
            }

            &-lg {
                transition: margin-bottom $transition;
                &:hover { margin-bottom: $nudge-lg; }
            }
        }

        &-l {
            transition: margin-left $transition;
            &:hover { margin-left: $nudge; }

            &-sm {
                transition: margin-left $transition;
                &:hover { margin-left: $nudge-sm; }
            }

            &-lg {
                transition: margin-left $transition;
                &:hover { margin-left: $nudge-lg; }
            }
        }
    }

    // spin
    &spin {
        &:hover {
            animation: spin 2s infinite linear;
        }
    }
}
