// Variables
// Icons

// https://github.com/luizbills/feather-icon-font
$icon-activity: "\e900";
$icon-airplay: "\e901";
$icon-alert-circle: "\e902";
$icon-alert-octagon: "\e903";
$icon-alert-triangle: "\e904";
$icon-align-center: "\e905";
$icon-align-justify: "\e906";
$icon-align-left: "\e907";
$icon-align-right: "\e908";
$icon-anchor: "\e909";
$icon-aperture: "\e90a";
$icon-arrow-down: "\e90b";
$icon-arrow-left: "\e90c";
$icon-arrow-right: "\e90d";
$icon-arrow-up: "\e90e";
$icon-at-sign: "\e90f";
$icon-award: "\e910";
$icon-bar-chart-2: "\e911";
$icon-bar-chart: "\e912";
$icon-battery: "\e913";
$icon-bell-off: "\e914";
$icon-bell: "\e915";
$icon-bluetooth: "\e916";
$icon-book: "\e917";
$icon-bookmark: "\e918";
$icon-box: "\e919";
$icon-briefcase: "\e91a";
$icon-camera-off: "\e91b";
$icon-camera: "\e91c";
$icon-check-circle: "\e91d";
$icon-check-square: "\e91e";
$icon-check: "\e91f";
$icon-chevron-down: "\e920";
$icon-chevron-left: "\e921";
$icon-chevron-right: "\e922";
$icon-chevron-up: "\e923";
$icon-chrome: "\e924";
$icon-circle: "\e925";
$icon-clipboard: "\e926";
$icon-clock: "\e927";
$icon-cloud-off: "\e928";
$icon-cloud: "\e929";
$icon-cog: "\e92a";
$icon-command: "\e92b";
$icon-comment-circle: "\e92c";
$icon-comment-square: "\e92d";
$icon-cpu: "\e92e";
$icon-crosshair: "\e92f";
$icon-delete: "\e930";
$icon-disc: "\e931";
$icon-download-cloud: "\e932";
$icon-download: "\e933";
$icon-droplet: "\e934";
$icon-edit: "\e935";
$icon-external-link: "\e936";
$icon-eye-off: "\e937";
$icon-eye: "\e938";
$icon-facebook: "\e939";
$icon-fast-forward: "\e93a";
$icon-feather: "\e93b";
$icon-file: "\e93c";
$icon-filter: "\e93d";
$icon-flag: "\e93e";
$icon-folder: "\e93f";
$icon-globe: "\e940";
$icon-grid: "\e941";
$icon-hash: "\e942";
$icon-headphones: "\e943";
$icon-heart: "\e944";
$icon-home: "\e945";
$icon-image: "\e946";
$icon-inbox: "\e947";
$icon-info: "\e948";
$icon-instagram: "\e949";
$icon-layers: "\e94a";
$icon-layout: "\e94b";
$icon-life-buoy: "\e94c";
$icon-loader: "\e94d";
$icon-location: "\e94e";
$icon-lock: "\e94f";
$icon-mail: "\e950";
$icon-map-pin: "\e951";
$icon-map: "\e952";
$icon-maximize-2: "\e953";
$icon-maximize: "\e954";
$icon-menu: "\e955";
$icon-mic-off: "\e956";
$icon-mic: "\e957";
$icon-minimize-2: "\e958";
$icon-minimize: "\e959";
$icon-minus-circle: "\e95a";
$icon-minus-square: "\e95b";
$icon-minus: "\e95c";
$icon-monitor: "\e95d";
$icon-moon: "\e95e";
$icon-more-horizontal: "\e95f";
$icon-more-vertical: "\e960";
$icon-move: "\e961";
$icon-music: "\e962";
$icon-octagon: "\e963";
$icon-pause: "\e964";
$icon-phone-call: "\e965";
$icon-phone-forwarded: "\e966";
$icon-phone-incoming: "\e967";
$icon-phone-missed: "\e968";
$icon-phone-off: "\e969";
$icon-phone-outgoing: "\e96a";
$icon-phone: "\e96b";
$icon-pie-chart: "\e96c";
$icon-play: "\e96d";
$icon-plus-circle: "\e96e";
$icon-plus-square: "\e96f";
$icon-plus: "\e970";
$icon-pocket: "\e971";
$icon-power: "\e972";
$icon-printer: "\e973";
$icon-radio: "\e974";
$icon-refresh-ccw: "\e975";
$icon-refresh-cw: "\e976";
$icon-rewind: "\e977";
$icon-rotate-ccw: "\e978";
$icon-rotate-cw: "\e979";
$icon-scissors: "\e97a";
$icon-search: "\e97b";
$icon-share: "\e97c";
$icon-shuffle: "\e97d";
$icon-skip-back: "\e97e";
$icon-skip-forward: "\e97f";
$icon-slash: "\e980";
$icon-square: "\e981";
$icon-star: "\e982";
$icon-sun: "\e983";
$icon-sunrise: "\e984";
$icon-sunset: "\e985";
$icon-tag: "\e986";
$icon-target: "\e987";
$icon-thermometer: "\e988";
$icon-thumbs-down: "\e989";
$icon-thumbs-up: "\e98a";
$icon-toggle-left: "\e98b";
$icon-toggle-right: "\e98c";
$icon-trash-2: "\e98d";
$icon-trash: "\e98e";
$icon-triangle: "\e98f";
$icon-twitter: "\e990";
$icon-umbrella: "\e991";
$icon-unlock: "\e992";
$icon-upload-cloud: "\e993";
$icon-upload: "\e994";
$icon-user-minus: "\e995";
$icon-user-plus: "\e996";
$icon-user: "\e997";
$icon-video-off: "\e998";
$icon-video: "\e999";
$icon-watch: "\e99a";
$icon-wifi: "\e99b";
$icon-wind: "\e99c";
$icon-x-circle: "\e99d";
$icon-x-square: "\e99e";
$icon-x: "\e99f";
$icon-zap: "\e9a0";
$icon-zoom-in: "\e9a1";
$icon-zoom-out: "\e9a2";
