// Variables
// Layout
//

// Widths
$widths: (
  '10': 10%,
  '20': 20%,
  '25': 25%,
  '30': 30%,
  '40': 40%,
  '50': 50%,
  '60': 60%,
  '70': 70%,
  '75': 75%,
  '80': 80%,
  '90': 90%,
  '100': 100%,
  '1\\/3': 33.33333%,
  '2\\/3': 66.66667%,
  '1\\/4': 25%,
  '3\\/4': 75%,
  '1\\/6': 16.66667%,
  '5\\/6': 83.33333%,
  'auto': auto
);

// Columns
$col-prefix: '\\-' !default;
$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$contain-width: 10%;

// Banner Spacing
$section-padding-y-default: 1rem;
$section-padding-y-md: 5%;
$section-padding-y-lg: 7.5%;
$section-padding-y-xl: 10%;

// Gutter widths
$grid-gutter-widths: (
  md: 30px,
  xl: 36px,
  xx: 40px
) !default;

// Breakpoints
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xx: 1600px
) !default;
