// Variables
// Misc
//


// Borders
$border-width: 1px !default;
$border-radius: 2px !default;

// Box Shadow
$box-shadow:        0 2px 4px 0 rgba(0,0,0,0.10) !default;
$box-shadow-md:     0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08) !default;
$box-shadow-lg:     0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08) !default;
$box-shadow-inset:  inset 0 2px 4px 0 rgba(0,0,0,0.06) !default;
$box-shadow-hover:  $box-shadow-md !default;

// Clearfix
%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Transition
$transition: all .25s ease !default;
