// Variables
// Misc


// Borders
$border-width: 1px !default;
$border-radius: 2px !default;

// Box Shadow
$box-shadow: 0 0 4px rgba($black, 0.2) !default;
$box-shadow-none: 0 0 0 rgba($black, 0) !default;
$box-shadow-sm: 0 0 1px rgba($black, 0.5) !default;
$box-shadow-lg: 0 0 6px rgba($black, 0.2) !default;
$box-shadow-xl: 0 3px 20px rgba($black, 0.1) !default;

$box-shadow-inset: inset $box-shadow-sm, $box-shadow-none !default;
$box-shadow-inset-lg: inset $box-shadow-sm, $box-shadow-lg !default;
$box-shadow-inset-xl: inset $box-shadow-sm, $box-shadow-xl !default;

// Pseudo element border divider
$afterline-width: 100px;

// Clearfix
%clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// Transition
$transition: 0.2s ease !default;
