//
// Mixins
// * Typography, Grid, Media Queries, Misc


//
// Typography

// Get responsive type and properties
  // @param  {array} $type
  // @param  {bool} $colorContrast: false
  // @return {[type]}

@mixin get_type($type, $colorContrast: false) {

  // Loop through properties
  @each $property, $value in map-get($type, properties) {
    #{$property}: $value;
  }

  // Loop through font-sizes by breakpoint
  @each $breakpoint, $size in map-get($type, sizes) {
    @include media_breakpoint_up($breakpoint) {
      font-size: $size;
    }
  }

  // Apply color contrast
  @if $colorContrast { opacity: 0.54; }
}

// List Unstyled
@mixin list_unstyled() {
  padding-left: 0;
  list-style: none;
}

// Font Smoothing / Antialiased
@mixin font_smoothing() {
  @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
}


//
// Grid

@mixin make-grid-columns($columns: $grid-columns, $gutters: $grid-gutter-widths, $breakpoints: $grid-breakpoints) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty

    @include make-gutters($gutters);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: _breakpoint-infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .#{$col-prefix}-#{$i}#{$infix} {
        @extend %grid-column;
      }
    }
    .#{$col-prefix}#{$infix} {
      @extend %grid-column;
    }

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.#{$col-prefix}-{bp}` classes for equal-width flexbox columns
      .#{$col-prefix}#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .#{$col-prefix}-auto#{$infix} {
        flex: 0 0 auto;
        width: auto;
      }

      @for $i from 1 through $columns {
        .#{$col-prefix}-#{$i}#{$infix} {
          @include make-col($i, $columns);
        }
      }

      @each $modifier in (pull, push) {
        @for $i from 0 through $columns {
          .#{$modifier}-#{$i}#{$infix} {
            @include make-col-modifier($modifier, $i, $columns)
          }
        }
      }

      // `$columns - 1` because offsetting by the width of an entire row isn't possible
      @for $i from 0 through ($columns - 1) {
        @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-xs-0
          .#{$col-prefix}-offset-#{$i}#{$infix} {
            @include make-col-modifier(offset, $i, $columns)
          }
        }
      }
    }
  }
}

@mixin make-section($gutters: $grid-gutter-widths) {
  position: relative;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint in map-keys($gutters) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      padding: $gutter;
    }
  }
}

@mixin make-gutters($gutters: $grid-gutter-widths) {
  @each $breakpoint in map-keys($gutters) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      padding-right: ($gutter / 2);
      padding-left:  ($gutter / 2);
    }
  }
}

@mixin make-row($gutters: $grid-gutter-widths) {
  display: flex;
  flex-wrap: wrap;

  @each $breakpoint in map-keys($gutters) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      margin-right: ($gutter / -2);
      margin-left:  ($gutter / -2);
    }
  }
}

@mixin make-col($size, $columns: $grid-columns) {
  flex-basis: percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin make-col-push($size, $columns: $grid-columns) {
  left: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-pull($size, $columns: $grid-columns) {
  right: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-modifier($type, $size, $columns) {
  // Work around the lack of dynamic mixin @include support (https://github.com/sass/sass/issues/626)
  @if $type == push {
    @include make-col-push($size, $columns);
  } @else if $type == pull {
    @include make-col-pull($size, $columns);
  } @else if $type == offset {
    @include make-col-offset($size, $columns);
  }
}

// Masthead?
@mixin make-masthead($gutters: $grid-gutter-widths) {
  @each $breakpoint in map-keys($gutters) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      margin-right: ($gutter);
      margin-left:  ($gutter);
    }
  }
}


//
// Media Queries

// Media of at least the minimum breakpoint width
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: _breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media that spans multiple breakpoint widths.
@mixin media-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-up($lower, $breakpoints) {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}

// Media between the breakpoint's minimum and maximum widths.
@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-between($name, $name, $breakpoints) {
    @content;
  }
}


//
// Miscellaneous

// Clearfix
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


// Sizing
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}


@mixin get_component($component, $color, $color_grade: false, $color_text_dark: null) {
  $component_text_color: #fff;
  @if $color_text_dark != null { $component_text_color: rgba($black, 0.7); }

  @if $component == 'alert' { @include alert_variant($component_text_color, $color); }
  @if $component == 'badge' { @include badge_variant($component_text_color, $color, $color); }
  @if $component == 'btn' { @include button_variant($component_text_color, $color, $color); }
  @if $component == 'card' { @include card_variant($component_text_color, $color); }
  @if $component == 'bg' { @include bg_variant($color); }
  @if $component == 'text' { @include text_variant($color); }
}

@mixin generate_colors($component, $palette_collection: $palette) {
  // Loop through each palette collection and then each color set
  @each $palette_label, $palette_colors in $palette_collection {
    @each $current_color, $current_variant, $current_text_dark in $palette_colors {

      $delimiter: '.\--';
      @if ($component == 'bg' or $component == 'text') {
        $delimiter: '--';
      }

      // checks to see if color has a variant
      // if false: make color the component's base
      // if true: append grade to class
      @if ($current_variant == false) {
        .#{$component}#{$delimiter}#{$palette_label} {
          @include get_component($component, $current_color, false, $current_text_dark);
        }
      } @else {
        .#{$component}#{$delimiter}#{$palette_label}-#{$current_variant} {
          @include get_component($component, $current_color, $current_variant, $current_text_dark);
        }
      }
    }
  }
}
