// Backgrounds Utility
// Image
//
// .bg--<img>


.bg--img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
  color: #fff;

  &:after {
    @extend .pin;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }

  > * {
    @extend .fs--smooth;
    position: relative;
    z-index: 1;
  }

  .btn,
  .card { text-shadow: none; }
}
