//
// Positioning trumps
//

//
// Responsive floats

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    .f--l\@#{$breakpoint} {
      float: left !important;
    }

    .f--r\@#{$breakpoint} {
      float: right !important;
    }

    .f--n\@#{$breakpoint} {
      float: none !important;
    }
  }
}

//
// Responsive flex-direction

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    .flex--col\@#{$breakpoint} {
      flex-direction: column;
    }

    .flex--row\@#{$breakpoint} {
      flex-direction: row;
    }
  }
}


