// Global Methods
// Colors
//


@mixin bg_variant($color, $hover_color, $text_color: null) {
  background-color: $color !important;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  @if ($text_color) {
    color: $text_color;
  }

  &.btn,
  .__link,
  &.__footer__link {
    border-color: transparent;
    @if ($text_color) {
      color: $text_color !important;
    }

    @include hover_focus_active {
      background-color: $hover_color !important;
      border-color: transparent;
      @if ($text_color) {
        color: $text_color !important;
      }
    }
  }
}

@mixin border_variant($color, $hover_color, $text_color: $type-color) {
  border: 1px solid rgba($color, 0.5);
  color: $color;

  &.btn,
  .__link,
  &.__footer__link {
    color: $color;
    transition:
      background-color 0.15s ease,
      color 0.15s ease;

    @include hover_focus_active {
      background-color: $hover_color !important;

      @if ($text_color) {
        color: $text_color;
      }
    }
  }
}

@mixin text_variant($color) {
  color: $color;
}

@mixin get_component($component, $color, $color_hover, $color_grade: false, $color_text: null) {
  @if $component == 'bg' { @include bg_variant($color, $color_hover, $color_text); }
  @if $component == 'bc' { @include border_variant($color, $color_hover, $color_text); }
  @if $component == 'tc' { @include text_variant($color); }
}

@mixin generate_colors($component, $palette_collection: $palette) {
  // Loop through each palette collection and then each color set
  @each $palette_label, $palette_colors in $palette_collection {
    @each $current_color, $current_hover, $current_variant, $current_text in $palette_colors {

      $delimiter: '--';

      // checks to see if color has a variant
      // if false: make color the component's base
      // if true: append grade to class
      @if ($current_variant == false) {
        .#{$component}#{$delimiter}#{$palette_label} {
          @include get_component($component, $current_color, $current_hover, false, $current_text);
        }
      } @else {
        .#{$component}#{$delimiter}#{$palette_label}-#{$current_variant} {
          @include get_component($component, $current_color, $current_hover, $current_variant, $current_text);
        }
      }
    }
  }
}
