// Typography Utility
// Font Family
//
// .ff-<family>


.ff-sans      { font-family: $type-sans !important; }
.ff-serif     { font-family: $type-serif !important; }
.ff-mono      { font-family: $type-mono !important; }
.ff-condensed { font-family: $type-condensed !important; }
.ff-tech      { font-family: $type-tech !important; }
.ff-mono      { font-family: $type-mono !important; }
