// Typography Utility
// Lists
//
// .ls-<style>


.ls-none {
  list-style: none;
  padding-left: 0;

  li,
  .__item {
    margin-bottom: .25rem;
    padding-top: .25rem;
  }
}

.ls-inline {
  list-style: none;
  padding-left: 0;

  li,
  .__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
