//
// Baseline Grid/Layout settings
//


// Sections
//
// Set the document margin
.section {
  @include k_make-section();
}

.\--banner { // this might not belong in this file. is it grid or is layout? etc
  background: rgba(0, 0, 0, 0.7); // opinionated
}


// Row
//
// Rows (display:flex) contain the columns (flex items).
.#{$grid-prefix}-row {
  @include k_make-row();
}

// Remove the negative margin from default .g-row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.#{$grid-prefix}--nogutters {
  margin-right: 0;
  margin-left: 0;

  > .#{$grid-prefix}-col,
  > [class*="#{$col-prefix}-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Columns
//
// Common styles for small and large grid columns
@include k_make-grid-columns();
