// Flexbox Utility
// Alignment
//
// .flex--<value>


.items--stretch  { align-items: stretch; }
.items--start    { align-items: flex-start; }
.items--center   { align-items: center; }
.items--end      { align-items: flex-end; }
.items--baseline { align-items: baseline; }

.content--start   { align-content: flex-start; }
.content--center  { align-content: center; }
.content--end     { align-content: flex-end; }
.content--between { align-content: space-between; }
.content--around  { align-content: space-around; }

.self--auto   { align-self: auto; }
.self--start  { align-self: flex-start; }
.self--center { align-self: center; }
.self--end    { align-self: flex-end; }
.self--stretch { align-self: stretch; }

.justify--start { justify-content: flex-start; }
.justify--center { justify-content: center; }
.justify--end { justify-content: flex-end; }
.justify--between { justify-content: space-between; }
.justify--around { justify-content: space-around; }
