// Sizing Utility
// Width
//
// .w--<value>


.mw--0    { min-width: 0; }
.mw--100  { min-width: 100%; }

@each $name, $value in $widths {
  .w--#{$name} { width: $value; }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    @each $name, $value in $widths {
      .w--#{$name}\@#{$breakpoint} { width: $value; }
    }
  }
}
