//
// Alerts
//

.alert {
  @include k_alert_variant($type-color, #fff, $component-base, false);
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  @include k_transition();

  .__column { @extend %component-column; }
}

//
// Link
.alert__link {
  display: block;
  color: inherit;

  &:hover { color: inherit; }
}

//
// Graphic
.alert__graphic {}

//
// Header
.alert .__header {
  @extend %component-header;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1rem);
}

//
// Footer
.alert .__footer { @extend %component-footer; }

.alert__footer__link {
  @extend .btn;
  margin-bottom: 0 !important;
}

//
// Body
.alert__body {
  display: block;
  padding: 1rem;
}

//
// Icon
.alert__icon {
  @extend %icon;
  // @include k_get_type($type-display-4);
  padding: 1rem 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include k_media-breakpoint-up(lg) {
    padding: 0 0.5rem 0 0;
    flex: 0 0 10%;
    max-width: 10%;
  }

  &.\+lg {
    margin: 1rem 0;

    i, svg {
      width: 100%;
      height: 100%;
      max-width: 2rem;
      max-height: 2rem;
    }

    @include k_media-breakpoint-up(lg) {
      margin: 0 auto;
    }
  }
}

//
// Title
.alert__title {
  @include k_get_type($type-title);
  margin-right: .5rem;
  margin-bottom: 0;
  display: inline-block;
  width: auto;
}
.alert__pretitle {}
.alert__subtitle {}

//
// Excerpt
.alert__excerpt {
  &, p {
    &:last-child {
      margin-bottom: 0;
    }

    @include k_media-breakpoint-up(lg) {
      display: inline-block;
    }
  }
}

.alert {
  //
  // Colors
  &.\--dark { @include k_alert_variant(#fff, $component-dark, $component-dark); }

  //
  // Outline
  &.\--outline { @extend %component-outline; }

  //
  // Sizing
  &.\--sm {
    @include k_get_type($type-sm);
    display: inline-block;
    vertical-align: top; // to prevent extra vertical space on bottom
    width: auto;

    @include k_media-breakpoint-up(lg) { @include k_get_type($type-xs); }

    .alert__body { padding: .5rem .75rem; }
  }

  //
  // Adds a button look to the right
  &.\--btn {
    @include k_media-breakpoint-up(lg) {
      &, .alert__link { display: flex; }
    }

    .alert__body {
      @extend %grid-column;
      display: flex;
      flex-direction: column;

      @include k_media-breakpoint-up(lg) {
        @include k_make-col(8, 10);
        flex-direction: row;
      }
    }

    .alert__footer {
      @extend %grid-column;

      @include k_media-breakpoint-up(lg) {
        @include k_make-col(2, 10);
        padding: 1rem;
      }
    }
  }
}
