// Utility
// Vertical Alignment
//
// .va--<value>


.va--base { vertical-align: baseline; }
.va--mid  { vertical-align: middle; }
.va--top  { vertical-align: top; }
.va--btm  { vertical-align: bottom; }

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    .va--base\@#{$breakpoint} { vertical-align: baseline; }
    .va--mid\@#{$breakpoint}  { vertical-align: middle; }
    .va--top\@#{$breakpoint}  { vertical-align: top; }
    .va--btm\@#{$breakpoint}  { vertical-align: bottom; }
  }
}
