// Utility
// Word Break
//
// .ws--<value>


.word-normal  { word-break: normal; }
.word-wrap    { word-break: break-all; }
.word-nowrap  { word-break: keep-all; }

@each $breakpoint in map-keys($grid-breakpoints) {
  @include mqbp-up($breakpoint) {
    .word-normal\@#{$breakpoint}  { word-break: normal; }
    .word-wrap\@#{$breakpoint}    { word-break: break-all; }
    .word-nowrap\@#{$breakpoint}  { word-break: keep-all; }
  }
}
