// Structure
// Banner

// Banner option designed to function as page header,
// used once per page below masthead
.banner {
  @extend .section;
  @extend .fs-smooth;

  align-items: center;
  border-bottom: 1px solid rgba(177, 177, 177, 0.2);
  display: flex;
  padding-bottom: 4.4rem;
  padding-top: 4.4rem;

  &.\-top { align-items: flex-start; }
  &.\-bottom { align-items: flex-end; }

  @include mqbp-up(d) { flex-direction: row; }

  &.\+nav {
    align-items: initial;
    flex: 0;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5rem;

    &.\--top { justify-content: flex-start; }
    &.\--bottom { justify-content: flex-end; }

    @include mqbp-up(d) {
      padding-bottom: 4.5rem;
    }
  }
}
