// Structure
// Column


// wrapper for .col items
.row {
  @include make-row();

  display: flex;
  flex-wrap: wrap;
}

// baseline column component (extend using width utility)
.col {
  @include make-gutters();

  align-items: flex-start;
  flex: none;
  flex-flow: column nowrap;
  width: 100%;

  // Wrapper to stetch .col to equal heights
  .col-stretch &,
  .col_stretch & {
    @extend .d-flex;
    @extend .items-stretch;
    flex-flow: row nowrap;
  }
}
