// Structure
// Section

.section {
  @include make-section();
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
  // Remove the negative margin from a section's default .row,
  // then the horizontal padding from all immediate child
  // columns (to prevent runaway style inheritance).
  &.\-nogutters {
    > .row {
      margin-left: 0;
      margin-right: 0;

      > .col {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // Nesting sections, remove spacing to accomodate
  .section {
    padding: 0;

    .row:last-child {
      .col { margin-bottom: 0; }
    }
  }

  // Banner option designed to function as page header,
  // used once per page below masthead
  &.\-banner {
    @extend .fs-smooth;
    align-items: center;
    border-bottom: 1px solid rgba(177, 177, 177, 0.2);
    display: flex;
    padding-bottom: 4.4rem;
    padding-top: 4.4rem;

    &.\-top { align-items: flex-start; }
    &.\-bottom { align-items: flex-end; }

    @include mqbp-up(d) { flex-direction: row; }

    &.\+nav {
      align-items: initial;
      flex: 0;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 5rem;

      &.\--top { justify-content: flex-start; }
      &.\--bottom { justify-content: flex-end; }

      @include mqbp-up(d) {
        padding-bottom: 4.5rem;
      }
    }
  }

  // Hero default styling (HT Marketing)
  // designed to center and add a max width for generic use cases
  &.\-hero {
    @extend .\-banner;
    @extend .\-measure-wide;
    @extend .\-center;
    @extend .flex-col;
    border-bottom: 0 none;
    padding-bottom: 10.6rem;
    padding-top: 10.6rem;
  }

  // Remove padding-x for flush sections
  &.\-flush {
    padding-left: 0;
    padding-right: 0;
  }

  // --
  // Options

  // Standardizing a common need for increased y-spacing on sections
  &.\-lg {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  // --
  // Document container options

  // container is full width
  .full & { @include make-section('full'); }

  // container is 2x default document margin
  .contain & { @include make-section('contain', $contain: $contain-width); }
}
