// Structure
// Section


.section {
  @include make-section();
  position: relative;
  margin-right: auto;
  margin-left: auto;

  // Remove spacing when nesting sections
  .section {
    padding: 0;

    .row:last-child {
      .col { margin-bottom: 0; }
    }
  }

  // Remove padding-x for flush sections
  .section.\--flush {
    padding-right: 0;
    padding-left: 0;
  }

  // Remove the negative margin from a section's default .row,
  // then the horizontal padding from all immediate child
  // columns (to prevent runaway style inheritance).
  .section.\--nogutters {
    > .row {
      margin-right: 0;
      margin-left: 0;

      > .col {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0;
      }
    }
  }

  // --
  // Header specific cascades

  // default section header styling
  > .__header {
    flex: 1;
    margin-bottom: 2rem;

    .__title {
      @include type-d3();
      font-weight: $type-light;
      margin-bottom: 0.125rem;
      line-height: 1.2;

      @include mqbp-up(t) {
        @include type-d4();
        text-indent: -3px;
      }

      @include mqbp-up(d) {
        text-indent: -4px;
      }
    }

    .__pretitle { margin-bottom: 0.25rem; }
    .__subtitle { @include type-lead(); }
    .__title + .__subtitle { padding-top: 0.125rem; }
  }

  // adds max-width via .section to nested .__header
  &.\--measure {
    .__header { @extend .measure; }
  }

  &.\--measure-narrow {
    .__header { @extend .measure--narrow; }
  }

  &.\--measure-wide {
    .__header { @extend .measure--wide; }
  }

  // centers .__header container and text
  &.\--center {
    .__header {
      @extend .mx--auto;
      text-align: center;
    }
  }
}

// --
// Document container options

// container is full width
.full .section,
.full .masthead { @include make-section('full'); }

// container is 2x default document margin
.contain .section,
.contain .masthead { @include make-section('contain', $contain: $contain-width); }

// --
// Special .section options

// Page banner default styling
// .banner used exclusively for sections immediately opening and page/article
.section.\--banner {
  @extend .fs--smooth;
  display: flex;
  align-items: center;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  border-bottom: 1px solid rgba(177, 177, 177, 0.2);

  > .__header {
    flex: 1;
    width: 100%;
    margin-bottom: 0;

    .__title {
      @include type-d3();
      margin-bottom: 0.25rem;

      @include mqbp-up(t) {
        @include type-d4();
      }

      @include mqbp-up(d) {
        @include type-d5();
      }
    }

    sup,
    sub { font-weight: 400; }
  }

  &.\--top { align-items: flex-start; }
  &.\--bottom { align-items: flex-end; }

  @include mqbp-up(d) { flex-direction: row; }

  &.\+nav {
    flex: 0;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5rem;

    .__header { flex: 0; }

    &.\--top { justify-content: flex-start; }
    &.\--bottom { justify-content: flex-end; }

    @include mqbp-up(d) {
      padding-bottom: 4.5rem;
    }
  }
}

// Hero default styling (HT Marketing)
// designed to center and add a max width for generic use cases
.section.\--hero {
  @extend .\--banner;
  @extend .\--measure-wide;
  @extend .\--center;
  @extend .flex--col;
  padding-top: 10.6rem;
  padding-bottom: 10.6rem;
  border-bottom: 0 none;
}
