//
// Banners
//


//
// Section Headers
.section {
  > .__header {
    .__title {
      margin-bottom: 0.25rem;
      font-weight: $type-regular;
    }

    .__pretitle { margin-bottom: 0.25rem; }

    .__subtitle {
      @include type-lead();
      font-weight: $type-light;
    }
  }

  &.--header.\--banner {
    > .__header {
      .__title {}
    }
  }
}


//
// Banners

// Banner Spacing
$padding-default: 5%;
$padding-sm: 1rem;
$padding-lg: 7.5%;
$padding-xl: 10%;

.\--banner {
  @include font_smoothing();
  position: relative;
  background-color: $gray-900;
  color: #fff;
  padding-top: $padding-default;
  padding-bottom: $padding-default;

  .__title { margin-bottom: 0.25rem; }

  &.\+bgimg {
    @extend %bgimg;
    text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);

    &:after {
      @extend %component-cover;
      content: "";
      background: rgba(0, 0, 0, 0.2);
      z-index: 0;
    }

    > * {
      @include font_smoothing();
      position: relative;
      z-index: 1;
    }

    &.\--fixed {
      position: relative;
      background-attachment: fixed;
    }

    .card { text-shadow: none; }
  }

  &.\--sm {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
  }

  &.\--lg {
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
  }

  &.\--xl {
    padding-top: $padding-xl;
    padding-bottom: $padding-xl;
  }

  &.\--top {
    padding-top: 1rem;

    &.\--lg { padding-bottom: $padding-lg * 1.75; }

    &.\--xl { padding-bottom: $padding-xl * 1.75; }
  }

  &.\--bottom {
    padding-bottom: 1rem;

    &.\--lg { padding-top: $padding-lg * 1.75; }

    &.\--xl { padding-top: $padding-xl * 1.75; }
  }

  &.\--transparent {
    background-color: transparent;
    color: $type-color;
  }

  &.\--white {
    background-color: white;
    color: $type-color;
  }

  &.\+shadow {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
