//
// Grid
//


// Sections
//
// Set the document margin
.section,
.footer {
  @include make-section();
}

.flush .section,
.flush .footer {
  @include make-section('flush');
}

.contain .section,
.contain .footer {
  @include make-section('contain');
}

.section .section { @include make-section('flush'); }

// Row
//
// Rows (display:flex) contain the columns (flex items).
.row { @include make-row(); }

// Columns
//
// Common styles for small and large grid columns

.col {
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent columns from collapsing when empty
  @extend %grid-column;
}

// Create columns
@include make-grid-columns();


// Remove the negative margin from default .g-row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.\--nogutters {
  margin-right: 0;
  margin-left: 0;

  > .col {
    padding-right: 0;
    padding-left: 0;
  }
}
