//
// Grid
//


// Sections
// 
// Set the document margin
.section {
  @include make-section();
  // margin-bottom: 1rem; <- NO. Leaves 1rem of white (as in #fff) space below each section

  @include media-breakpoint-up(lg) {
    padding-left: 6%;
    padding-right: 6%;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 11%;
    padding-right: 11%;
  }

  .section { @include make-section(); }

  &.\--full {
    @include make-section();
  }
}

// Row
//
// Rows (display:flex) contain the columns (flex items).
.row {
  @include make-row();
}

// Remove the negative margin from default .g-row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.\--nogutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Columns
//
// Common styles for small and large grid columns

.col {
  flex: 0 0 100%;
  padding-left: ($grid-gutter-width-base / 2);
  padding-right: ($grid-gutter-width-base / 2);
}

// Create columns
@include make-grid-columns();
