//
// Icons
// * uses Feather Icons <https://feathericons.com/>

%icon {
  position: relative;
  display: inline-block;
  line-height: 0;
  text-align: left;
  transform: translate(0, 5%);

  i, svg {
    position: absolute;
  }

  &.\--thin {
    i, svg {
      stroke-width: 1;
    }
  }
}

//
// Feather Icons
// https://icomoon.io/app/#/select/library
@font-face {
  font-family: 'feathericons';
  src:  url('../fonts/feathericons.eot?kn6kqz');
  src:  url('../fonts/feathericons.eot?kn6kqz#iefix') format('embedded-opentype'),
    url('../fonts/feathericons.ttf?kn6kqz') format('truetype'),
    url('../fonts/feathericons.woff?kn6kqz') format('woff'),
    url('../fonts/feathericons.svg?kn6kqz#feathericons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feathericons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  @include font-smoothing();
}

.icon--activity {
  &:before { content: $icon--activity; }
}
.icon--airplay {
  &:before { content: $icon--airplay; }
}
.icon--alert-circle {
  &:before { content: $icon--alert-circle; }
}
.icon--alert-octagon {
  &:before { content: $icon--alert-octagon; }
}
.icon--alert-triangle {
  &:before { content: $icon--alert-triangle; }
}
.icon--align-center {
  &:before { content: $icon--align-center; }
}
.icon--align-justify {
  &:before { content: $icon--align-justify; }
}
.icon--align-left {
  &:before { content: $icon--align-left; }
}
.icon--align-right {
  &:before { content: $icon--align-right; }
}
.icon--anchor {
  &:before { content: $icon--anchor; }
}
.icon--aperture {
  &:before { content: $icon--aperture; }
}
.icon--arrow-down {
  &:before { content: $icon--arrow-down; }
}
.icon--arrow-left {
  &:before { content: $icon--arrow-left; }
}
.icon--arrow-right {
  &:before { content: $icon--arrow-right; }
}
.icon--arrow-up {
  &:before { content: $icon--arrow-up; }
}
.icon--at-sign {
  &:before { content: $icon--at-sign; }
}
.icon--award {
  &:before { content: $icon--award; }
}
.icon--bar-chart-2 {
  &:before { content: $icon--bar-chart-2; }
}
.icon--bar-chart {
  &:before { content: $icon--bar-chart; }
}
.icon--battery {
  &:before { content: $icon--battery; }
}
.icon--bell-off {
  &:before { content: $icon--bell-off; }
}
.icon--bell {
  &:before { content: $icon--bell; }
}
.icon--bluetooth {
  &:before { content: $icon--bluetooth; }
}
.icon--book {
  &:before { content: $icon--book; }
}
.icon--bookmark {
  &:before { content: $icon--bookmark; }
}
.icon--box {
  &:before { content: $icon--box; }
}
.icon--briefcase {
  &:before { content: $icon--briefcase; }
}
.icon--camera-off {
  &:before { content: $icon--camera-off; }
}
.icon--camera {
  &:before { content: $icon--camera; }
}
.icon--check-circle {
  &:before { content: $icon--check-circle; }
}
.icon--check-square {
  &:before { content: $icon--check-square; }
}
.icon--check {
  &:before { content: $icon--check; }
}
.icon--chevron-down {
  &:before { content: $icon--chevron-down; }
}
.icon--chevron-left {
  &:before { content: $icon--chevron-left; }
}
.icon--chevron-right {
  &:before { content: $icon--chevron-right; }
}
.icon--chevron-up {
  &:before { content: $icon--chevron-up; }
}
.icon--chrome {
  &:before { content: $icon--chrome; }
}
.icon--circle {
  &:before { content: $icon--circle; }
}
.icon--clipboard {
  &:before { content: $icon--clipboard; }
}
.icon--clock {
  &:before { content: $icon--clock; }
}
.icon--cloud-off {
  &:before { content: $icon--cloud-off; }
}
.icon--cloud {
  &:before { content: $icon--cloud; }
}
.icon--cog {
  &:before { content: $icon--cog; }
}
.icon--command {
  &:before { content: $icon--command; }
}
.icon--comment-circle {
  &:before { content: $icon--comment-circle; }
}
.icon--comment-square {
  &:before { content: $icon--comment-square; }
}
.icon--cpu {
  &:before { content: $icon--cpu; }
}
.icon--crosshair {
  &:before { content: $icon--crosshair; }
}
.icon--delete {
  &:before { content: $icon--delete; }
}
.icon--disc {
  &:before { content: $icon--disc; }
}
.icon--download-cloud {
  &:before { content: $icon--download-cloud; }
}
.icon--download {
  &:before { content: $icon--download; }
}
.icon--droplet {
  &:before { content: $icon--droplet; }
}
.icon--edit {
  &:before { content: $icon--edit; }
}
.icon--external-link {
  &:before { content: $icon--external-link; }
}
.icon--eye-off {
  &:before { content: $icon--eye-off; }
}
.icon--eye {
  &:before { content: $icon--eye; }
}
.icon--facebook {
  &:before { content: $icon--facebook; }
}
.icon--fast-forward {
  &:before { content: $icon--fast-forward; }
}
.icon--feather {
  &:before { content: $icon--feather; }
}
.icon--file {
  &:before { content: $icon--file; }
}
.icon--filter {
  &:before { content: $icon--filter; }
}
.icon--flag {
  &:before { content: $icon--flag; }
}
.icon--folder {
  &:before { content: $icon--folder; }
}
.icon--globe {
  &:before { content: $icon--globe; }
}
.icon--grid {
  &:before { content: $icon--grid; }
}
.icon--hash {
  &:before { content: $icon--hash; }
}
.icon--headphones {
  &:before { content: $icon--headphones; }
}
.icon--heart {
  &:before { content: $icon--heart; }
}
.icon--home {
  &:before { content: $icon--home; }
}
.icon--image {
  &:before { content: $icon--image; }
}
.icon--inbox {
  &:before { content: $icon--inbox; }
}
.icon--info {
  &:before { content: $icon--info; }
}
.icon--instagram {
  &:before { content: $icon--instagram; }
}
.icon--layers {
  &:before { content: $icon--layers; }
}
.icon--layout {
  &:before { content: $icon--layout; }
}
.icon--life-buoy {
  &:before { content: $icon--life-buoy; }
}
.icon--loader {
  &:before { content: $icon--loader; }
}
.icon--location {
  &:before { content: $icon--location; }
}
.icon--lock {
  &:before { content: $icon--lock; }
}
.icon--mail {
  &:before { content: $icon--mail; }
}
.icon--map-pin {
  &:before { content: $icon--map-pin; }
}
.icon--map {
  &:before { content: $icon--map; }
}
.icon--maximize-2 {
  &:before { content: $icon--maximize-2; }
}
.icon--maximize {
  &:before { content: $icon--maximize; }
}
.icon--menu {
  &:before { content: $icon--menu; }
}
.icon--mic-off {
  &:before { content: $icon--mic-off; }
}
.icon--mic {
  &:before { content: $icon--mic; }
}
.icon--minimize-2 {
  &:before { content: $icon--minimize-2; }
}
.icon--minimize {
  &:before { content: $icon--minimize; }
}
.icon--minus-circle {
  &:before { content: $icon--minus-circle; }
}
.icon--minus-square {
  &:before { content: $icon--minus-square; }
}
.icon--minus {
  &:before { content: $icon--minus; }
}
.icon--monitor {
  &:before { content: $icon--monitor; }
}
.icon--moon {
  &:before { content: $icon--moon; }
}
.icon--more-horizontal {
  &:before { content: $icon--more-horizontal; }
}
.icon--more-vertical {
  &:before { content: $icon--more-vertical; }
}
.icon--move {
  &:before { content: $icon--move; }
}
.icon--music {
  &:before { content: $icon--music; }
}
.icon--octagon {
  &:before { content: $icon--octagon; }
}
.icon--pause {
  &:before { content: $icon--pause; }
}
.icon--phone-call {
  &:before { content: $icon--phone-call; }
}
.icon--phone-forwarded {
  &:before { content: $icon--phone-forwarded; }
}
.icon--phone-incoming {
  &:before { content: $icon--phone-incoming; }
}
.icon--phone-missed {
  &:before { content: $icon--phone-missed; }
}
.icon--phone-off {
  &:before { content: $icon--phone-off; }
}
.icon--phone-outgoing {
  &:before { content: $icon--phone-outgoing; }
}
.icon--phone {
  &:before { content: $icon--phone; }
}
.icon--pie-chart {
  &:before { content: $icon--pie-chart; }
}
.icon--play {
  &:before { content: $icon--play; }
}
.icon--plus-circle {
  &:before { content: $icon--plus-circle; }
}
.icon--plus-square {
  &:before { content: $icon--plus-square; }
}
.icon--plus {
  &:before { content: $icon--plus; }
}
.icon--pocket {
  &:before { content: $icon--pocket; }
}
.icon--power {
  &:before { content: $icon--power; }
}
.icon--printer {
  &:before { content: $icon--printer; }
}
.icon--radio {
  &:before { content: $icon--radio; }
}
.icon--refresh-ccw {
  &:before { content: $icon--refresh-ccw; }
}
.icon--refresh-cw {
  &:before { content: $icon--refresh-cw; }
}
.icon--rewind {
  &:before { content: $icon--rewind; }
}
.icon--rotate-ccw {
  &:before { content: $icon--rotate-ccw; }
}
.icon--rotate-cw {
  &:before { content: $icon--rotate-cw; }
}
.icon--scissors {
  &:before { content: $icon--scissors; }
}
.icon--search {
  &:before { content: $icon--search; }
}
.icon--share {
  &:before { content: $icon--share; }
}
.icon--shuffle {
  &:before { content: $icon--shuffle; }
}
.icon--skip-back {
  &:before { content: $icon--skip-back; }
}
.icon--skip-forward {
  &:before { content: $icon--skip-forward; }
}
.icon--slash {
  &:before { content: $icon--slash; }
}
.icon--square {
  &:before { content: $icon--square; }
}
.icon--star {
  &:before { content: $icon--star; }
}
.icon--sun {
  &:before { content: $icon--sun; }
}
.icon--sunrise {
  &:before { content: $icon--sunrise; }
}
.icon--sunset {
  &:before { content: $icon--sunset; }
}
.icon--tag {
  &:before { content: $icon--tag; }
}
.icon--target {
  &:before { content: $icon--target; }
}
.icon--thermometer {
  &:before { content: $icon--thermometer; }
}
.icon--thumbs-down {
  &:before { content: $icon--thumbs-down; }
}
.icon--thumbs-up {
  &:before { content: $icon--thumbs-up; }
}
.icon--toggle-left {
  &:before { content: $icon--toggle-left; }
}
.icon--toggle-right {
  &:before { content: $icon--toggle-right; }
}
.icon--trash-2 {
  &:before { content: $icon--trash-2; }
}
.icon--trash {
  &:before { content: $icon--trash; }
}
.icon--triangle {
  &:before { content: $icon--triangle; }
}
.icon--twitter {
  &:before { content: $icon--twitter; }
}
.icon--umbrella {
  &:before { content: $icon--umbrella; }
}
.icon--unlock {
  &:before { content: $icon--unlock; }
}
.icon--upload-cloud {
  &:before { content: $icon--upload-cloud; }
}
.icon--upload {
  &:before { content: $icon--upload; }
}
.icon--user-minus {
  &:before { content: $icon--user-minus; }
}
.icon--user-plus {
  &:before { content: $icon--user-plus; }
}
.icon--user {
  &:before { content: $icon--user; }
}
.icon--video-off {
  &:before { content: $icon--video-off; }
}
.icon--video {
  &:before { content: $icon--video; }
}
.icon--watch {
  &:before { content: $icon--watch; }
}
.icon--wifi {
  &:before { content: $icon--wifi; }
}
.icon--wind {
  &:before { content: $icon--wind; }
}
.icon--x-circle {
  &:before { content: $icon--x-circle; }
}
.icon--x-square {
  &:before { content: $icon--x-square; }
}
.icon--x {
  &:before { content: $icon--x; }
}
.icon--zap {
  &:before { content: $icon--zap; }
}
.icon--zoom-in {
  &:before { content: $icon--zoom-in; }
}
.icon--zoom-out {
  &:before { content: $icon--zoom-out; }
}

