//
// Sections
//

//
// Set the document margin
.section {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: $section-padding-y-default;
  padding-bottom: $section-padding-y-default;
  @include make-section();
}

.full .section { @include make-section('full'); }

.contain .section { @include make-section('contain', $contain: 10%); }

.section {
  .section {
    padding: 0;
    overflow-x: hidden; // prevent longer words on xs from forcing an x-axis scroll
  }

  &.\--md {
    padding-top: $section-padding-y-md;
    padding-bottom: $section-padding-y-md;

    @include mqbp-up(lg) {
      &.\+nav { padding-bottom: ($section-padding-y-md * 1.5); }
    }
  }

  &.\--lg {
    padding-top: $section-padding-y-lg;
    padding-bottom: $section-padding-y-lg;

    @include mqbp-up(lg) {
      &.\+nav { padding-bottom: ($section-padding-y-lg * 1.5); }
    }
  }

  &.\--xl {
    padding-top: $section-padding-y-xl;
    padding-bottom: $section-padding-y-xl;

    @include mqbp-up(lg) {
      &.\+nav { padding-bottom: ($section-padding-y-xl * 1.5); }
    }
  }

  &.\--top {
    padding-top: $section-padding-y-default * 1.5;
    // retain lg or xl height when text is on top:
    &.\--lg { padding-bottom: $section-padding-y-lg * 1.75; }
    &.\--xl { padding-bottom: $section-padding-y-xl * 1.75; }
  }

  &.\--bottom {
    padding-bottom: $section-padding-y-default * 2;
    // retain lg or xl height when text is on bottom:
    &.\--lg { padding-top: $section-padding-y-lg * 2 !important; }
    &.\--xl { padding-top: $section-padding-y-xl * 2 !important; }
  }

  &.\--transparent {
    background-color: transparent;
    color: $type-color;
  }

  &.\--white {
    background-color: white;
    color: $type-color;
  }

  &.\+shadow {
    border-top: 2px solid rgba(#000, 0.1);
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &.\--flush {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}


/**
 * No-gutter Grid
 */

// Remove the negative margin from a section's default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.\--nogutters {
  > .row {
    margin-right: 0;
    margin-left: 0;

    > .col {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


//
// Banners

.\--banner {
  margin-bottom: 1.5rem;

  .__title {
    margin-bottom: 0.25rem;
    font-weight: $type-regular;
  }

  .__pretitle { margin-bottom: 0.25rem; }

  .__subtitle { @include type-lead(); }

  @extend %font_smoothing;
  margin-bottom: 1rem;
  background-color: $gray-50;

  .__title { @include type_d6(); }
}
