//
// Sections
//

// Section Spacing
$padding-default: 1rem;
$padding-md: 5%;
$padding-lg: 7.5%;
$padding-xl: 10%;


//
// Sections

.section {
  position: relative;
  padding-top: $padding-default;
  padding-bottom: $padding-default;

  .section { padding: 0; }

  &.\--banner,
  > .__header {
    .__title {
      margin-bottom: 0.25rem;
      font-weight: $type-regular;
    }

    .__pretitle { margin-bottom: 0.25rem; }

    .__subtitle {
      @include type-lead();
    }
  }

  &.\--banner {
    @include font_smoothing();
    background-color: $gray-50;

    .__title { @include type_d6(); }
  }

  &.\+bgimg {
    @extend %bgimg;
    text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
    color: #fff;

    &:after {
      @extend %component-cover;
      content: "";
      background: rgba(0, 0, 0, 0.2);
      z-index: 0;
    }

    > * {
      @include font_smoothing();
      position: relative;
      z-index: 1;
    }

    &.\--fixed {
      position: relative;
      background-attachment: fixed;
    }

    .card { text-shadow: none; }
  }

  &.\--md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }

  &.\--lg {
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
  }

  &.\--xl {
    padding-top: $padding-xl;
    padding-bottom: $padding-xl;
  }

  &.\--top {
    padding-top: $padding-default * 1.5;

    &.\--lg { padding-bottom: $padding-lg * 1.75; }

    &.\--xl { padding-bottom: $padding-xl * 1.75; }
  }

  &.\--bottom {
    padding-bottom: $padding-default * 1.5;

    &.\--lg { padding-top: $padding-lg * 1.75; }

    &.\--xl { padding-top: $padding-xl * 1.75; }
  }

  &.\--transparent {
    background-color: transparent;
    color: $type-color;
  }

  &.\--white {
    background-color: white;
    color: $type-color;
  }

  &.\+shadow {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
