//
// Sections
//

//
// Set the document margin
.section {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: $section-padding-y-default;
  padding-bottom: $section-padding-y-default;
  @include make-section();
}

.full .section { @include make-section('full'); }

.contain .section { @include make-section('contain', $contain: 10%); }

.section {
  .section {
    padding: 0;
    overflow-x: hidden; // prevent longer words on xs from forcing an x-axis scroll
  }

  &.\--md {
    padding-top: $section-padding-y-md;
    padding-bottom: $section-padding-y-md;
  }

  &.\--lg {
    padding-top: $section-padding-y-lg;
    padding-bottom: $section-padding-y-lg;
  }

  &.\--xl {
    padding-top: $section-padding-y-xl;
    padding-bottom: $section-padding-y-xl;
  }

  &.\--transparent {
    background-color: transparent;
    color: $type-color;
  }

  &.\--white {
    background-color: white;
    color: $type-color;
  }

  &.\+shadow {
    border-top: 2px solid rgba(#000, 0.1);
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &.\--flush {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}


/**
 * No-gutter Grid
 */

// Remove the negative margin from a section's default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.\--nogutters {
  > .row {
    margin-right: 0;
    margin-left: 0;

    > .col {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


//
// Banners

.\--banner {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  min-height: 30vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
  background-color: $gray-50;
  @extend %font_smoothing;

  .__body {
    flex: 1;
    width: 100%;
  }

  .__pretitle { margin-bottom: 0.25rem; }

  .__title {
    @include type_d6();
    margin-bottom: 0.25rem;
    font-weight: $type-regular;
  }

  .__subtitle { @include type-lead(); }


  &.\--top { align-items: flex-start; }
  &.\--bottom { align-items: flex-end; }

  &.\--10 { min-height: 10vh; }
  &.\--20 { min-height: 20vh; }
  &.\--30 { min-height: 30vh; }
  &.\--40 { min-height: 40vh; }
  &.\--50 { min-height: 50vh; }
  &.\--60 { min-height: 60vh; }
  &.\--70 { min-height: 70vh; }
  &.\--80 { min-height: 80vh; }
  &.\--90 { min-height: 90vh; }
  &.\--100 { min-height: 100vh; }

  @include mqbp-up(lg) {
    flex-direction: row;
  }

  &.\+nav {
    flex: 0;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 0;

    .__body {
      flex: 0;
      margin-bottom: 3rem;
    }

    .nav {
      width: 100%;
      position: absolute;
      bottom: 0;
      align-self: flex-start;
    }

    @include mqbp-up(md) {
      justify-content: space-around;
    }
  }
}
