// Baseline
// Document
//
// Reset + Normalize + Baseline elements/typography definitions in one.


html {
  box-sizing: border-box;
  height: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  border: 0 solid;
}

@at-root {
  @-ms-viewport { width: device-width; }
}

body {
  background-color: #fff;
  margin: 0;
  overflow-x: hidden; // prevent longer words on xs from forcing an x-axis scroll
  padding: 0;
  min-height: 100vh;
}

article,
aside,
footer,
header,
nav,
section { display: block; }

main { flex: 1; }

//
// Text-level semantics
a,
area,
button,
[role="button"],
input,
label,
select,
textarea { touch-action: manipulation; }


//
// Hidden
[hidden] { display: none !important; }
