//
// Lists
//


ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

ol,
ul { padding-left: 1.25rem; }

li {
  padding-top: 0.125rem;
  margin-bottom: 0.5rem;

  ol,
  ul { padding-top: 0.5rem; }
}

ol > li { padding-left: 0.25rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt { font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

// ol,
// ul {
//   .ls--none {
//     padding-top: 0.125rem;
//     margin-left: 1.5rem;
//   }

//   // Default List
//   // reset a nested list to bullets when parent list is styled
//   .ls--default {
//     padding-top: 0.25rem;
//     list-style: initial;
//     margin-left: 1.5rem;
//   }
// }

dl { @extend .row; }

dt,
dd { @extend .col; }

dt { @include make-col(1,4); }

dd { @include make-col(3,4); }
