// Baseline
// Media


// --
// Imagery

img {
  border-style: none;
  vertical-align: middle;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

svg:not(:root) { overflow: hidden; }

// --
// Groupings

figcaption,
figure,
main { display: block; }

figure { margin: 0 0 1rem; }

// --
// Embedded content

iframe {
  border: 0;

  &:not(.wufoo-form-container):not(.ar--object) {
    @extend object;
  }
}

audio,
video { display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0;
}
