// Baseline
// Tables
//


table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  background-color: #fff;

  &.\--border {
    td,
    th { border: 1px solid #ddd; }
  }

  &.\--noborder {
    td,
    th { border: none; }
  }

  .\--shaded,
  &.\--striped tr:nth-child(even) {
    background-color: rgba($type-color, 0.1);
  }

  &.\--responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

td, th {
  @include type-sm();
  margin: 0;
  padding: .75rem;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
  line-height: 1.4;
}

caption {
  color: $gray-300;
  text-align: left;
  caption-side: bottom;
}

th { text-align: left; }

//
// small-text table-heading cell option
.\+th--sm thead th {
  @include type-xs();
  color: rgba($type-color, 0.65);
}
