// Baseline
// Typography


html {
  @include type-root();
  color: $type-color;
  font-family: $type-sans;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// --
// Headings

h1, h2, h3, h4, h5, h6 {
  font-weight: $type-light;
  margin: 0 0 0.5rem;
  padding: 0;
}

// Add extra padding for heading immediately following certain elements
h1, h2, h3, h4, h5, h6, p, ul, ol {
  // +h2, +h3, +h4, +h5, +h6 { padding-top: 0.25rem; }
}

h1 { @include type_d4(); }

h2 {
  @include type_d3();
  font-weight: $type-light;
  margin-bottom: 1.75rem;
  max-width: $measure;
  padding-top: 2rem;
}

// remove extra padding-top after blocks
div,
section,
header {
  + h2,
  > h2:first-child {
    padding-top: 0;
  }
}

h3 {
  @include type_d2();
  font-weight: $type-light;
  margin-bottom: 1.25rem;
  padding-top: 0.25rem;
}

h4 {
  @include type_root();
  letter-spacing: 0.03rem;
  margin-bottom: 1.25rem;
  padding-top: 0.25rem;
  text-transform: uppercase;
}

h5 {
  @include type_root();
  margin-bottom: 1rem;
  padding-top: 0.25rem;
}

h6 {
  font-size: $fs-sm;
  font-weight: $type-bold;
}

// --
// Paragraphs

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

// Small
small { @include type_sm(); }

// --
// Links

a {
  color: $type-link;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;

  blockquote & {
    color: inherit;
  }

  &:active { outline-width: 0; }

  blockquote &:hover {
    color: inherit;
  }
}

// --
// Miscellaneous elements

blockquote {
  @extend .fs-smooth;
  @include type_lead();

  margin: 0 0 1rem;
  padding: 1rem 1.25rem;

  p {
    font-family: inherit;

    &:last-child { margin-bottom: 0; }
  }

  footer {
    padding-top: 0.5rem;

    @include mqbp-up(t) { padding-top: 0.75rem; }
  }

  footer,
  cite {
    display: block;
    font-family: $type-sans;
    font-size: $fs-root;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    @include mqbp-up(d) { line-height: 1.625; }
  }

  &.\-mark {
    padding-top: 3.125rem;
    position: relative;

    &::before {
      content: '\201C';
      font-family: Georgia, serif;
      font-size: 3.3rem;
      left: 1.125rem;
      opacity: 0.8;
      position: absolute;
      top: 0.5rem;
    }

    @include mqbp-up(t) {
      padding-left: 4rem;
      padding-top: 2rem;

      &::before {
        font-size: 4.75rem;
        left: 1.325rem;
        top: 0.85rem;
      }
    }
  }

  @include mqbp-up(t) { padding: 2rem; }
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

abbr,
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted $gray-300;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 0 1px;
  text-decoration: none;
}

pre {
  font-family: $type-mono;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: auto;
}

code,
kbd,
samp {
  font-family: $type-mono;
  font-size: inherit;
}

dfn { font-style: italic; }

mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  font-size: $fs-xs;
  line-height: 0;
  margin: 0 1px;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }

sup {
  top: -0.425em;

  h2 &,
  h2 & { top: -0.85em; }
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: content-box;
  height: 0;
  margin: 0 0 1.75rem;
  overflow: visible;
  padding: 0.75rem 0 0;
}

// --
// Feather Icon pseudo-elements
// * https://icomoon.io/app/#/select/library
@font-face {
  font-family: 'feathericons';
  src:  url('../fonts/feathericons.eot?kn6kqz');
  src:  url('../fonts/feathericons.eot?kn6kqz#iefix') format('embedded-opentype'),
    url('../fonts/feathericons.ttf?kn6kqz') format('truetype'),
    url('../fonts/feathericons.woff?kn6kqz') format('woff'),
    url('../fonts/feathericons.svg?kn6kqz#feathericons') format('svg');
}
