//
// Grid
//


// Sections
//
// Moved to baseline/document. Arguably a document
// component that contains a grid; also, must load 
// before any call to .--banner [rmk, 2017-09-12]document


// Row
//
// Rows (display:flex) contain the columns (flex items).
.row {
  @include k_make-row();
}

// Remove the negative margin from default .g-row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.\--nogutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Columns
//
// Common styles for small and large grid columns

.col {
  flex: 0 0 100%;
  padding-left: ($grid-gutter-width-base / 2);
  padding-right: ($grid-gutter-width-base / 2);
}

// Create columns
@include k_make-grid-columns();
