/**
 * Grid
 */

$grid-prefix: 'g';
$col-prefix: '\\-';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xx: 1600px
  ) !default;

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1080px,
  xl: 1400px,
  xx: 1800px
  ) !default;

$grid-columns:            12 !default;
$grid-gutter-width-base:  30px !default;
$grid-gutter-widths: (
  xs: 1rem,
  sm: 1rem,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: 36px,
  xx: 40px
  ) !default;
