//
// Modals
//

// Bootstrap utility to kill the scroll on the body
.modal-open { overflow: hidden; }

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 4000;
  display: none;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  @include modal_variant();

  // When fading in the modal, animate it to slide down
  &.fade .__dialog {
    transition: transform .5s ease-out;
    transform: translate(0, -25%);
  }

  &.in .__dialog,
  &.show .__dialog,
  &.active .__dialog { transform: translate(0, 0); }

  // Shell div to position the modal with bottom padding
  .__dialog {
    position: relative;
    display: flex;
    width: auto;
    margin: 0 auto;
    max-width: 450px;

    @include mqbp-up(md) {
      max-width: 760px;
    }
  }

  &.\--sm {
    .__dialog {
      @include mqbp-up(md) {
        max-width: 400px;
      }
    }
  }

  &.\--lg {
    .__dialog {
      @include mqbp-up(lg) {
        max-width: 992px;
      }
    }
  }

  &.\--xl {
    .__dialog {
      @include mqbp-up(md) {
        max-width: none;
        height: 100%;
      }
    }
  }

  // Actual modal
  .__content {
    position: relative;
    background-clip: padding-box;
    border: 0 none;
    border-radius: 2px;
    outline: 0;
    max-height: 96vh;
    overflow-y: scroll;
    @include box_shadow();
  }

  .__header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid $gray-300;
    @extend %clearfix;
  }

  .__title {
    margin: 0;
  }

  .__body {
    position: relative;
    padding: 1rem 1.25rem;
  }

  .__graphic {
    overflow: hidden;
  }

  .__graphic__img {
    width: 130%;
    height: auto;
  }

  .__footer {
    padding: 1rem 1.25rem;
    text-align: right; // right align buttons
    border-top: 1px solid $gray-300;
    @extend %clearfix;
  }

  &.\--dark {
    @include modal_variant(#fff, $gray-800);

    .__header,
    .__footer {
      background-color: rgba(0, 0, 0, 0.1);
      border-color: $gray-700;
    }
  }

  &.\--grid {
    .__content { overflow-x: hidden; }

    .__meta {
      padding: 1rem;
      @include type-xs();
      list-style: none;

      li { margin-bottom: 0; }
    }

    .__header {
      padding: 1rem 1rem 0;
      border-bottom: 0 none;

      p:last-child { margin-bottom: 0; }

      @include mqbp-up(md) {
        padding: 1rem 0 0;
        flex: 1;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
      }
    }

    .__body {
      padding: 1rem;

      @include mqbp-up(md) {
        padding: 1rem 3rem 1rem 0;
      }
    }

    .__title {
      @include type-d5();
      line-height: 1.2;
      font-weight: 900;
    }

    .__subtitle {
      @include type-lead();
      font-weight: 400;
    }


    &.\--sm {
      .col {
        flex-basis: 100% !important;
        max-width: 100% !important;
      }

      .__header {
        position: relative !important;
      }

      @include mqbp-up(md) {
        .__header,
        .__body { padding: 1rem; }
      }
    }

    &.\--sm,
    &.\--lg,
    &.\--xl {
      .__meta {
        padding: 1rem;
        @include type-sm();
      }
    }
  }

  &.\--full {
    background-color: rgba($gray-900, .85);
    color: #fff;

    .close {
      font-size: 3rem;
      top: 0;
      right: 2rem;
    }

    .__dialog {
      max-width: none;
      flex: 1;
    }

    .__content {
      margin: 0 auto;
      background: transparent;
      box-shadow: none;
      color: #fff;
      width: 100%;
      max-width: 400px;

      @include mqbp-up(md) {
        width: 70%;
        max-width: 600px;
      }
    }
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal .close {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background: 0 none;
  border: 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 1px 0 #fff;
  opacity: .65;
  transition: opacity 0.2s ease;
  z-index: 4001;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    outline: none;
  }
}

/**
* Elements
*/

// Bootstrap utility to measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow-y: scroll;
}

// Bootstrap utility for lights-out behind the modal
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3999;
  background-color: $black;
  transition: opacity 0.35s ease;

  &.fade { opacity: 0; }
  &.in,
  &.show,
  &.active { opacity: 0.75; }
}
